[2013-11-12 17:03] augustine-tran opened #2 "This plugin does not work with Grails 2.3.2"
I got this errors while run-app

[code]

[2013-11-12 22:57] issue2k opened #3 "BeanCreationException: Error creating bean with name 'indexRequestQueue'"
Grails 2.2.4, JDK 1.7.0_45-b18, OSX 10.8.5
plugin version 0.0.2

When trying to start the application:

ERROR context.GrailsContextLoader  - Error initializing the application: Error creating bean with name 'auditListener': Cannot resolve reference to bean 'indexRequestQueue' while setting bean property 'indexRequestQueue'; nested exception is org.springframework.beans.factory.BeanCreationExceptio

[2013-11-20 09:04] #3 closed, assigned to nobody

[2013-11-24 22:20] florent-blanvillain opened #6 "java.lang.NullPointerException: Cannot get property 'entity' on null object"
An exception is raised when saving domain objects :
It happens in different contexts : services, controllers

[code]

I am under grails 2.3.3.

Any idea ?

[2013-11-28 09:05] stefanrother opened #7 "0.0.2.1 does not run with Java 6"
When I try to install the elasticsearch-gorm-plugin 0.0.2.1, I cannot start my Grails 2.2.2 application because I use Java 6.

org.grails.plugins.elasticsearch.index.IndexRequestQueue imports java.util.concurrent.ConcurrentLinkedDeque which was introduced in Java 7 (see http://docs.oracle.com/javase/7/docs/api/java/util/concurrent/ConcurrentLinkedDeque.html)

This dependency was added in commit on

[2014-01-19 09:11] #7 closed, assigned to nobody

[2014-01-19 09:46] #6 closed, assigned to nobody

[2014-01-20 09:17] donbeave opened #8 "Merge elasticsearch-gorm-plugin into elasticsearch-plugin"
Hello @noamt

What do you think about merge these two plugins in one?

I can help you with this process if you need.

[2014-01-20 12:19] otho opened #9 "Support for GeoPoint in domain classes?"
It would be nice to have basic support for geopoint in searchable closure. A lot of forks of the original plugin already have that and it seems to be more or less a 3 liner.

One if clause in SearchableClassPropertyMapping and two in ElasticSearchMappingFactory. You can have a look at the "fork" I have in my account.

This simple solution works for String encoded geopoints ("{lat},{lon}").

Dating

[2014-02-01 02:13] stlhrt opened #10 "Marshalling fails with NPE"
[code]

I managed to move forward with this change in org.grails.plugins.elasticsearch.conversion.marshall.DeepDomainClassMarshaller:

[code]

Original code didn't unwrap javassit proxies correctly. :(

but then I get

[code]

[2014-02-01 20:34] mgkimsal opened #12 "intellij 13 startup issues..."
When trying to debug in grails 2.3.4 using the 0.2.2 release of this plugin, I get traces like the one below.

It's indicating something about "java.lang.NoClassDefFoundError: org/quartz/DisallowConcurrentExecution"

I don't have quartz installed for this project, it's not a requirement for the project and isn't listed as a dependency on this plugin (or is it?).

What's stranger is that this works

[2014-02-03 21:24] #10 closed, assigned to nobody

[2014-02-10 09:14] seymores opened #14 "Getting weird gorm synchonize issue with latest 0.2.3 and Grais 2.3.5"
Started to noticed that I am getting a lot of
[code]
or
[code]
errors and traced it to the installation of the new elasticsearch-gorm 0.0.2.3 plugin.
Everything goes back to normal once I removed the plugin.

The general behavior is that saving/updating of data goes well initially but begin to throw StaleObjectStateException after a while.
Child objects that were deleted off will appear again even

[2014-02-22 14:53] emfanitek opened #15 "Incompatible with Elasticsearch-1.0.0"
Hi,

I was unable to connect to the elastic search node in either node or transport mode. After trying to fix connectivity issues that were not there for a good long time, I saw that the current plugin uses an outdated version of the ES libraries. I went ahead and modified dependencies.groovy, and was then able to connect to the node.

[code]

It seems to work until now (i am still evaluating the

[2014-02-22 15:02] emfanitek opened #16 "BigDecimal columns are not mapped well"
I have seen a related issue in the original elasticsearch plugin:

https://github.com/mstein/elasticsearch-grails-plugin/issues/43

The BigDecimal columns are mapped as object, and then cause a problem when it looks like the other way around it fails when unmarshalling a BigDecimal field.

This does not seem to have been addressed yet, despite a pull request that suggests otherwise here:

https://

[2014-03-17 14:59] musketyr opened #17 "let the mapping property name be configurable"
we're creating grails plugin which should allow users to pick their own search plugin support and we want to provide integration with your plugin out of the box. we would like to declare the mappings in our domain classes but we don't want to use `static searchable = ...` property for this purpose, because other search plugins uses the same name. would be great if we can change the default propert

[2014-03-24 14:19] #9 closed, assigned to nobody

[2014-03-24 14:20] #16 closed, assigned to noamt

[2014-03-24 14:21] #17 closed, assigned to nobody

[2014-03-28 12:27] fdearle opened #20 "Cannot successfully build the Plugin from latest version"
Hi,
We are experiencing an issue with the latest version of the plugin (0.0.2.4). I've identified where the problem seems to be happening by debugging in IntelliJ and would like to try out some changes myself before submitting a bug against the plugin.

However we are having some issues building the plugin from sources or running the tests. The application.properties has a grails version of 2.1.4,

[2014-04-01 14:34] #20 closed, assigned to nobody

[2014-04-02 11:04] #8 closed, assigned to nobody

[2014-04-06 06:37] donbeave opened #22 "failed to process cluster event (put-mapping [event]) within 30s"
Forked Grails 2.3.7

BuildConfig:
[code]

Config:
[code]

Lib:
elasticsearch-0.90.5.jar (by default)

Error when run app:
[code]

[2014-04-09 17:31] gibbster opened #23 "Support for nested types"
First of all, thanks for an amazing plugin!

I'm running into some trouble doing a search on a one to many list of associated domain objects. Let's say I have a "Person" domain object with a List of "Qualifications". Each qualification has a type and a rating. The trouble is if I want to search for a person with a certain qualification type with a specified rating: elastic search will return all p

[2014-04-15 20:49] shelbyd opened #25 "QueryParsingException: Failed to find geo_point field"
I have two domain classes that mirror the GeoPoint examples exactly. Yet, in my tests I keep getting the error
`QueryParsingException[[package] failed to find geo_point field [location]]; }`
My Building class is

[code]

I do create the GeoPoint in a beforeValidate block, but it appears to be indexed with the correct data:

[code]

The location is not being mapped as a geo_point.
I can get the map

[2014-04-17 06:58] #25 closed, assigned to nobody

[2014-04-22 04:20] satan1999 opened #26 "Support Facet Closue ?"
Thanks for upgrading this greate plugin
We used to use searchInJson to post the query json with old plugin.
But i checked the new plugin , in ElasticSearchService , it does not have this method any longer. The SearchRequest buildSearchRequest(query, Closure filter, Map params) does not seem to take Facet Closure as well.

Can you please specify how this plugin can take Facet block

Cheers

[2014-04-28 14:09] shelbyd opened #29 "Mapping to a schema not matching domain class schema."
I have an application, where I want most fields to be directly on a single domain class when it comes to mapping into elasticsearch, but I have the field split between multiple domains in my application.

For example, I have a Building class with an Address field, and the Address type has geolocation information.  I want to map the Building class to elasticsearch so that it has the geolocation inf

[2014-05-09 07:08] musketyr opened #31 "better search documentation"
the documentation for groovy dsl in elastic search is very brief. it would be nice if the plugin documentation would go further than just showing `bool { must { query_string }}`

[2014-05-10 12:13] satan1999 opened #32 "Only can add One Sorter"
In buildSearchRequest(query, Closure filter, Map params) in ElasticSarch Servince

It only add one sorter( see the following code)

But actually, SearchSourceBuilder source can add multiple sorters

Hope you can fix this small issue

Cheers
Wallace

[2014-05-11 10:17] #23 closed, assigned to nobody

[2014-05-11 10:19] #12 closed, assigned to nobody

[2014-05-11 10:19] #2 closed, assigned to nobody

[2014-05-13 19:48] erickmelo opened #33 "Replace ApplicationHolder to run on Grails 2.4"
Grails 2.4 have removed the class ApplicationHolder class. The problem can be rectified by updating the plugins and using grails.util.Holders instead.

[2014-05-15 14:23] #33 closed, assigned to nobody

[2014-05-18 11:12] #15 closed, assigned to nobody

[2014-05-26 13:01] schmitzcj-zz opened #34 "Upgrade to 0.0.3.0 causes date range query to fail."
Upgrading from version 0.0.2.6 to 0.0.3.0 causes the query:
filedDate:[20130101 TO 20140526]
to fail with a ClassNotFoundException for com.vividsolutions.jts.geom.Coordinate

[2014-05-28 10:46] #26 closed, assigned to nobody

[2014-06-04 08:09] #34 closed, assigned to nobody

[2014-06-12 17:40] v1p opened #37 "Support for indexing transient properties ?"
Transient properties if supported, can help in reducing the mapping complexity and give a great handle on keeping the mapping of indices cleaner, without making all of the other domain classes searchable.
e.g User has Rating, where Rating is transient & is fetched through a service, as rating is necessarily calculated as average of all available ratings.
I tried the approach mentioned here :
https

[2014-06-16 15:53] otho opened #39 "Integration tests break because of problem in doWithSpring with fix"
Hi there, integration tests throw an NPE because application.parentContext is null in the doWithSpring closure. The fix is quite easy (after a good time hunting it down :P)

Replace:

[code]

With:
        if(manager?.hasGrailsPlugin('hibernate')) {
            hibernateProxyUnWrapper(HibernateProxyUnWrapper)
        }

GrailsPluginManager obviously gets injected as manager. The fix is taken from

[2014-06-18 08:20] #39 closed, assigned to nobody

[2014-06-26 09:16] cerias opened #41 "[Question] Limiting recursion in Tree Domain Classes"
It there a way to limit serialization  depth on recursion with component to 3 or 6?

Example:

class MyClass{
   String foo
   String bar
   MyClass left
  MyClass right
}

[2014-07-04 16:19] paulbarker opened #43 "Cannot compile app with plugin version 0.0.3.1 on Grails v.2.3.4"
I'm getting a whole stream of 'unable to resolve class ...' type errors when I try to run my app.
These include:
- org.elasticsearch.action.support.broadcast.BroadcastOperationResponse
- org.elasticsearch.client.Requests
- org.elasticsearch.client.Client
- org.elasticsearch.action.search.SearchRequest
  and so on.

Not using Hibernate 4, pretty sure I've got a standard config.

Any thoughts?

[2014-07-08 16:34] #32 closed, assigned to nobody

[2014-07-09 17:29] #43 closed, assigned to nobody

[2014-07-14 22:39] magno32 opened #45 "Allow field aliases"
While trying to embed Kibana into my grails app with this plugin the functionality is there.

I noticed though that Kibana is expecting an "@timestamp" field to do filters on its native  controls.

It would be awesome to add another option to the searchable closure suchas

[code]

I'll look into it, since I am not really sure how elasticsearch treats those fields in the first place.

[2014-07-16 11:46] #45 closed, assigned to nobody

[2014-08-11 19:33] ph4t opened #51 "Component objects are nested instead of inner?"
After upgrading from 0.0.3.0 to 0.0.3.2 we noticed that components objects are suddenly mapped as nested. They used to be inner. The following post explains the differences between inner and nested: http://www.elasticsearch.org/blog/managing-relations-inside-elasticsearch/

As result, our previously working queries are failing because we have to start using nested queries/filters...

This should b

[2014-08-20 12:14] gonzaloclavell opened #52 "Easy nested query example"
Hi I was trying to get this working in different ways but I could not.
This is the model:

[code]

Now I need to get all Conversation where messages.to or messages.from , at least one , are equals to a param.

[code]

Obviously, it does not work. Have you got any approach to tackle this ?
thanks in advance

[2014-09-02 08:30] #51 closed, assigned to nobody

[2014-09-03 15:03] Noamrab opened #53 "How to configure a custom token filter / custom analyzer"
I would like to implement an Autocomplete / type-as-you-search feature.
as described here.

http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/_index_time_search_as_you_type.html

Is there a way to do so with the plugin ?

[2014-09-05 07:07] ramzimaalej opened #54 "Index domain class with composite id not being indexed"
I do have a class with a composite Id that does not get indexed with elasticsearch. This class is referenced in One-To-Many, and gets indexed only if I update the relationship (Add, Remove Element). However, after restarting the server and when elasticsearch does the auto index, it disappears from the index.

[2014-09-14 17:59] sergiofm opened #55 "suggest search"
Is it possible to write a suggest query using de plugin?
If it's possoble, how do I do that?
If it's not, would be nice to have something like the searcheable plugin have:  https://grails.org/Searchable+Plugin+-+Methods+-+suggestQuery

Here's the elasticsearch docs about suggest querys:
http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-suggesters.html
http://www.elastics

[2014-09-17 08:38] sircelsius opened #56 "Implement the unicode collation algorithm sorting"
elasticsearch has a pretty cool feature that enables to sort strings alphabetically using the  [Unicode Collation Algorithm](http://www.unicode.org/reports/tr10/). See the [docs](http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/sorting-collations.html).

Unfortunately, this isn't actually available in the plugin, it is currently only possible to have a lexicographical order (order

[2014-10-13 05:09] charlesjankowski opened #57 "Example of working many-to-one mapping: get Hibernate error"
Can someone provide a working example of a many-to-one mapping? I can't seem to get it right; must be that I've something obvious wrong.

I've got the following example where a User has many Storys, and I'm searching on Story:

Domains:

[code]

Controller:

[code]

In the debugger the `storyResults` looks OK in the I have `User`s nested in the returns, but when hitting the search endpoint (either

[2014-10-14 21:08] MichaelQuaMan opened #58 "elasticSearchService.index() not working for manually deleted items"
If an item is deleted manually from the database, the item continues to remain in the search index, so, e.g., if the item is a phoneNumber, and we search for the particular phoneNumber the search method continues to return the item even though it no longer exists in the DB.

If we call elasticSearchService.index(), the phoneNumber also continues to be returned from the search method. My guess is t

[2014-10-15 22:53] sergiofm opened #59 "LazyInitializationException when saving a entity"
Hi! Im my system, I have a job that start some threads to update entitys and in some entitys elasticsearch plugin is throwing a LazyInitializationException like the log below. Any ideas what could cause this? My guess is that other thread is closing that session before IndexRequestQueue realize the marshall of the instance. Is there a way to force IndexRequestQueue to start a new session if the se

[2014-10-17 18:00] erickmelo opened #60 "Unexpected behavior (probably a bug)"
I have some large collections of objects (more than 50 000 in each collection) indexed by Elastichsearch (via Grails Plugin). The problem is that some of these objects are not being indexed properly by the plugin (Domainclass.index () or bulkIndexOnStartup). After successive runs of the indexing process these objects are being indexed (or after performing an explicit indexing on the object - objec

[2014-10-20 13:58] sircelsius opened #61 "ERROR unmarshall.DomainClassUnmarshaller when searching parent-child"
I'm getting a weird error when searching for domains mapped as parent-child.

Here's how to recreate the error:

**Domains**

[code]

This mapping is properly created, however, when searching using the following method:

[code]

My console goes wild and logs a strange error for each matching object:

[code]

Then the following lines (a few hundred of them):

![selection_009](https://cloud.githubus

[2014-10-21 14:40] #58 closed, assigned to nobody

[2014-10-28 15:00] #60 closed, assigned to nobody

[2014-11-03 11:56] aldsok opened #62 "fields, in serch result, lastUpdated and dateCreated return null values"
Hi. I'm using elasticsearch-grails-plugin (elasticsearch: 0.0.3.5) in my project. I created the index:

[code]
I'm searching in index:
[code]
As a result in "result", fields lastUpdated and dateCreated return null values????

[2014-11-04 19:05] helloangular opened #63 "Indexing Performance"
I have  MySql DB with less than 3000 rows in total for all my 20 tables combined.
Elastic search on startup is running for more than 2 hours on my mac.
I earlier used Searchable plugin which used to start the app in less than 2 mins.
Is there a way to integrate marvel or any other admin script to see what is going on ?
I am using grails 2.4.2

[2014-11-18 06:27] motleycrew opened #64 "Elasticsearch Merge Issues"
Firstly, thank you for developing this plugin. It is very useful.

After upgrading to Elasticsearch plugin 0.0.3.6. We are getting merge exception, every-time we do run-app. This happens even when have disabled elasticsearch.index is disabled in bootstrap.groovy.

This is the case with plugin version 0.0.3.3

We are using:
Elastic Search Server 1.4.0
Grails 2.4.3
Tomcat Plugin build ":tomcat:8.0.1

[2014-11-19 20:57] rpokorny opened #65 "Unsafe use of SimpleTypeConverter in DomainClassUnmarshaller"
I have an application which makes three simultaneous requests to the ElasticSearchService.  These requests are faced with an intermittent bug where the id's of some of the results would get mixed up (objects would have the wrong id).  After a good bit of investigation, I have determined that the cause is most likely the typeConverter instance variable within DomainClassUnmarshaller.  Since DomainC

[2014-11-20 13:15] kanthuu opened #67 "Allow getIndexName() to be overridden"
We have a requirement in our application where we index each domain separately and the index name should reflect the domain's identifiable name. Let me take a hypothetical example of dropbox for brevity. Every dropbox account user has a username to identify it. In my application, this "username" will become my index name. The domain Dropbox has a hasMany relation with Files and Folders. Files and

[2014-11-21 14:05] labancap opened #68 "Support Transient Properties"
Any idea when this will be supported? This is a very basic feature that should be supported.

[2014-11-24 09:24] #65 closed, assigned to nobody

[2014-11-29 10:33] kmalhotra opened #69 "GeoPoint field in component object not sent to ElasticSearch as required"
We are facing a problem when the Domain instance is unmarshalled and JSON object is sent to ElasticSearch for a PUT request.

Environment :- Grails 2.2.4 , ElasticSearch 1.2.4 , ElasticSearch Grails Plugin 0.0.3.3
Example structure:-
Domain A{
..
GeoPoint location   // Geopoint field location for Domain A
DomainB domainB

static embedded = ['location']
static searchable = {
domainB component: 'inn

[2014-12-02 10:39] marcos-carceles opened #70 "java.lang.IllegalStateException while loading ApplicationContext duting Integration tests start up"
Hi,

We are using grails 2.4.4 and the elastic search plugin 0.0.3.7.

When we try to run the integration tests phase `grails test-app integration: --stacktrace`, during start up, right before running any tests we get the following error:
[code]

The error seems to be trying to get access to the applicationContext here:
https://github.com/noamt/elasticsearch-grails-plugin/blob/master/src/groovy/or

[2014-12-04 23:56] carkar opened #72 "Support of embedded properties?"
Having some problems getting embedded properties to work properly. Getting an exception thrown at SearchableClassPropertyMapping.groovy:137. (Property [property] is mapped as component, but dependent mapping is not injected.) when component is set to true. Otherwise it tries to map the property as a String.

Doesn't seem to be any support for this, is there a workaround or is it work in progress?

[2014-12-19 13:14] spolom opened #76 "Error : Unparseable date: "date.struct" with Grails POST/save request"
Hi,

the plugin's JSONDateBinder hooked in via CustomEditorRegistrar tries to parse Date values from domain classes and fails to do so:

Even though that the domain class in question is not marked as searchable and a simple controller/service not related to the plugin is being used to save a domain instance, JSONDateBinder.setAsText is being run.

Grails (default) behaviour is to split a Date in a

[2014-12-21 09:10] akh2013 opened #77 "Error while adding plugin to an existing Grails Project"
Hello,

Please help me resolve the following issue.  I am unable to start the plugin in my grails project.

I am on Grails 2.4.3,
 I have installed Elasticsearch 1.4.2 on my Windows machine
I am using MongoDB and I have Grails MongoDB plugin compile ":mongodb:3.0.2" in BuildConfig
I am in development mode.
I installed the plugin by adding runtime ':elasticsearch:0.0.3.8' to BuildConfig.groovy.
I h

[2014-12-23 07:35] #77 closed, assigned to nobody

[2014-12-23 12:43] akh2013 opened #79 "Issue with embedded classes in MongoDB"
Hello,

I am using MongoDB.  I have a domain class 'Product' which I wish to search.  This class has embedded collection of classes "Image".  Below is the structure of the classes.  They are in same groovy file BTW. Upon running I get the error given at the end of this message.  Please guide what am I doing wrong.

class Product {

[code]

}

class Image {

[code]

}

class Video{

[code]

}

Erro

[2015-01-02 18:13] wevoteproject commented on #79
I am having similar issues with this. I'm using MongoDB. I can mark another domain class as component, and I'm able to search within it, but as soon as I have a collection of things, I get the same error, even if the items in the collection have: static searchable = { root false }. This is really holding me up right now. :( I tried changing this from a list of a domain class to a list of Strings a

[2015-01-07 12:12] marcos-carceles commented on #64
Hi @noamt,

as @sircelsiussexy I have been working on this and (as him) I got an implementation that based on configuration recreates the mapping if there was some sort of conflict. However, as I mentioned I think that a more future proof alternative would be to follow the default approach recommnded by elasticsearch itself here:

http://www.elasticsearch.org/blog/changing-mapping-with-zero-downti

[2015-01-07 17:45] sircelsiussexy commented on #64
I'm impressed by the work you put into that, well played sir. :+1:

I'll look at your pseudo code in details tonight and let you know if I have any ideas / comments / questions.

[2015-01-12 15:49] sircelsiussexy commented on #64
Hi @marcos-carceles

I've read your work, it looks interesting. Here's a question that came to my mind while I was thinking about how to implement that:

Does the following code treat in any way the case were a failed mapping was needed (as a component for example) in another mapping?
[code]

My understanding is that should class `B` have an attribute of class `A` and the class `A` fail to be mapp

[2015-01-12 16:40] marcos-carceles commented on #64
Hi @sircelsiussexy

Thank you for highlighting this. I wasn't aware of this behaviour. I thought that since A already existed on the index (although with an old inconsistent mapping) it would succeed. In that case it's true that errors would be better dealt with ASAP. In a way, since the whole index and related mappings are going to be recreated, the fact that B succeeds or not does not influence

[2015-01-14 13:28] marcos-carceles commented on #64
I got a version passing all the tests here:
https://github.com/marcos-carceles/elasticsearch-grails-plugin/tree/migration-alternatives

I'm going to test it in our app and apply @sircelsiussexy's improvement. Once happy I'll send a PR

[2015-01-20 09:14] polydectes commented on #69
I am also having this problem and have already followed the details in stackoverflow as posted by sircelsiussexy.

It appears this is a problem with nesting of objects within the mappings.

We have the following classes:

class GeoPoint {
    Double lat
    Double lon
    static searchable = {
        only = ['lat','lon']
        root false
    }
}

class Address {
     // {additional address fiel

[2015-01-20 19:07] mayurkarve opened #80 "indexing domain objects, without restarting server"
Hi,
I am deploying the grails war on a tomcat server. When I need to reindex the data, right now I restart my tomcat, which runs the following line of code from bootstrap: elasticSearchService.index(). Is there a way to reindex without needing to restart tomcat or send a request to a controller/action which invokes the line of code? Maybe there is a grails command like "grails index-elastic-server

[2015-01-20 22:14] motleycrew commented on #80
Hi,

We are having similar problems. To reindex the data cleanly we have to perform following steps:-

We currently have elasticSearchService.index() in our Bootstrap.groovy

1. Shutdown tomcat
2. Shutdown elastic  search
3. Delete existing index manually
4. Start elastic search
5. Restart tomcat and wait for indexing for finish.

This causes significant downtime.  Is there a way, to do indexing o

[2015-01-21 05:20] kmalhotra commented on #69
I have managed to fix this with few lines of coded added to "DeepDomainClassMarshaller.groovy" and overriding this file.

Previous code:-
if (DomainClassArtefactHandler.isDomainClass(propertyClass)) {
                String searchablePropertyName = getSearchablePropertyName()
                if (propertyValue.class."$searchablePropertyName") {
                    // todo fixme - will throw excepti

[2015-01-22 10:40] marcos-carceles commented on #80
Hi, you should be able to reindex the content by invoking
elasticSearchService.index() yourself. As far as I know there is no need
for this to be invoked from Bootstrap. In our project we use both a quartz
scheduler (to reindex content nightly) and a fixture controller that we
call when needed to reindex content ad-hoc. Would that solve your problem?
Also please bear in mind that by default the pl

[2015-01-26 15:35] sircelsiussexy commented on #69
@polydectes did you manage to solve your problem? If so how? I tried recreating the problem on a clean prokect but couldn't get it to work.

[2015-01-26 18:14] marcos-carceles commented on #64
I believe #81 should fix this issue and be good to merge. Please have a look and drop me any comments

[2015-01-28 08:24] #64 closed

[2015-01-30 13:54] marcos-carceles commented on #80
Hi @mayurkarve, @motleycrew,

Did that solve your issue? Is there any further help needed?

[2015-01-30 14:11] marcos-carceles commented on #70
Closed by PR #71

[2015-01-30 14:11] #70 closed

[2015-01-30 16:37] motleycrew commented on #80
Hi Marco,
First of all, thank you for your great work on the plugin version 0.4.0. We updated it yesterday and we did not see any merge exceptions that we usually see. Hats off!
We are building a new product and our db schema changes quite often. Correspondingly, we also end up making quite a  few changes to our database outside of our grails application. Therefore, we need something to trigger in

[2015-02-05 05:42] blaketastic2 opened #83 "Support for Using FilterBuilder"
It appears that there is no way to use the FilterBuilder as the filter instance. QueryBuilder is supported for the query, so it makes sense to allow for FilterBuilder as well.

[2015-02-05 06:18] blaketastic2 commented on #83
I suppose a work around is to create a filtered query. Is that the recommended approach?

[2015-02-05 15:21] sircelsiussexy commented on #83
It does make sense indeed. As far as I know it is not possible at the moment as only Closure filters are allowed.

The Closure form is quite simple and efficient, I'd recommend using that.

I'll see if I can expose FilterBuilder to the `search` method.

[2015-02-05 15:27] blaketastic2 commented on #83
Yes, I was using the Closure form initially, but I had to many conditional statements that needed to build a dynamic query. My current work around just joins my query and filter in a FilteredQuery, and looks like this:

// merge the Query and Filter
QueryBuilder filteredQuery = QueryBuilders.filteredQuery(queryBuilder, filterBuilder)
// fire off the search...
def res = elasticSearchService.search(

[2015-02-07 04:58] forseti opened #84 "Configuration issue: Cannot use TransportClient"
Hi,

Apparently, the client mode configuration does not work

when I set:
elasticSearch.client.mode = 'transport'

and if I try to inject the elasticSearchClient into one of the project controller, I always get NodeClient instead of TransportClient.

Then if I try to set:
elasticSearch.client.mode = 'asdffdsafafdasfdaf'

and restart the app, it did not give me the IllegalArgumentException as expec

[2015-02-08 17:58] sircelsiussexy commented on #83
I added support for `FilterBuilder` objects in the `elasticSearchService.search` method as well as the corresponding injected methods.

[2015-02-09 16:34] peh opened #86 "Data directory is deleted on tests end"
Currently in _Events.groovy you are blindly deleting the /data directory which in my eyes is quite dangerous as this also causes a running app to not have any indexed data anymore.
This is (at least for me) quite often the case when developing and should be changed a bit
e.g.: just delete "data/$elasticSearch.cluster.name/" and tell the user to define a different cluster name for testing in case h

[2015-02-12 11:18] langerc commented on #62
Same problem with 0.0.4.2 - datecreated is not indexed - if a copy the field to a second field called created - the date is indexed very well so it seems to be a problem with the datecreated - autotimestamp mechanism of grails.
even  after a re-index the values are null - the datbase of course has the correct values.

[2015-02-12 21:34] motleycrew opened #87 "Aggregations"
Hi,

Would it be possible to add some examples in the documentation for performing aggregations using the plugin.

http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/search-aggregations-metrics-sum-aggregation.html

Thanks,

[2015-02-18 12:18] #83 closed

[2015-02-18 13:13] marcos-carceles commented on #87
Hi,

In our project for aggregations we used the `elasticSearchHelper` in combination with the ElasticSearch Java API. The aggregations API is quite exntesive and I believe the plugin does not wrap it (if I'm wrong @noamt , please correct me), I'm afraid doing so might reduce it's flexibility.

This is an example similar to what we used:

[code]

I'm currently working on trying to simplify using `

[2015-02-18 13:16] #68 closed

[2015-02-18 13:48] peh opened #88 "Support for dynamic type mapping"
it would be super nice to have a mapping option to map string values dynamicly as of
http://www.elasticsearch.org/guide/en/elasticsearch/guide/current/dynamic-mapping.html

from time to time we use JSON object in String fields to store information we dont want to be database fields in mysql but it would be super cool to build elasticsearch queries for those "nested" objects

[2015-02-18 16:22] peh commented on #88
digging into the code i found out that adding it myself is not super hard. will prepare a pull request.

[2015-02-19 15:03] peh commented on #62
i can reproduce this bug aswell.
funnyli if you define a custom converter for dateCreated (we use joda time for Autotimestamps), the converter is called but the resulting object still hast null values in dateCreated.

[2015-02-19 16:50] sircelsiussexy commented on #87
I've been looking at the possibility of adding an optional aggregations parameter to the `search` method of the plugin. I'll come back to you when I've looked into it a bit more.

[2015-02-20 00:39] jako512 commented on #69
I can confirm kmalhotra's fix work and I have created pull request #90

[2015-02-20 16:14] catastroof opened #91 "Failed to resolve dependencies"
I can't use the plugin. I have it since a long time ago but today, it is unavailable.

I use this repo : grailsRepo 'http://repo.grails.org/grails/plugins'

Does there has anything changed?

[2015-02-20 16:15] catastroof commented on #91
My version of grails is 2.2.0.

[2015-02-20 20:04] sircelsiussexy commented on #91
Can you provide an error log? What version of the plugin are you using?

[2015-02-20 21:59] catastroof commented on #91
I use an old version (0.18.7.1-SNAPSHOT). But i've tried with thé 0.0.4.2 (latest on thé grails plugins platform) ans it does the same !

[2015-02-20 22:08] sircelsiussexy commented on #91
Can you provide an error log?

[2015-02-21 01:14] fabriziofortino commented on #67
+1

[2015-02-21 10:16] catastroof commented on #91
This is the output of a grails compile : https://gist.github.com/catastroof/c6962c64cfe342d9baa9

[2015-02-22 10:29] noamt commented on #91
Can you provide the error log from a non-snapshot version?

[2015-02-22 10:33] #69 closed

[2015-02-22 10:34] noamt commented on #67
OK, I've marked it as an enhancement; pull requests are gladly accepted

[2015-02-22 15:28] catastroof commented on #91
The output with the 0.0.4.3 version : https://gist.github.com/catastroof/763541aa7a33851ce343

[2015-02-23 04:27] pickypg commented on #87
I've released v1.4.3 and v1.4.4 of the Elasticsearch Groovy client with a Grails compatible jar. Once you add support for it, then you should be able to convert this request:

[code]

into this query/agg using the given Closure:

[code]

[2015-02-23 09:23] catastroof commented on #91
I've just tried with a new grails application. I have the same output. It seems like I haven't the good repository in my BuildConfig.groovy.

Does there has anything moved? I don't see another reason…

[2015-02-23 10:58] catastroof commented on #91
I have successfully run my app with the plugin version 0.18.7.1-SNAPSHOT (I can't change it for the moment).

What was the problem? The dependency resolver param in the BuildConfig must be set to 'maven'.

Thanks you!

[2015-02-23 10:58] #91 closed

[2015-02-23 18:56] tcrossland opened #92 "Subclasses are searchable even with searchable=false"
It should be possible to make a subclass of a searchable class non-searchable, for example:

[code]

This currently has no effect, the class ```NonSearchableChild``` is searchable, even though ```searchable``` is explicitly set to ```false```.

[2015-02-24 09:26] catastroof commented on #91
My last comment is false.

The good correction is :

Before :
grailsRepo 'http://repo.grails.org/grails/plugins/'

After :
grailsRepo 'http://grails.org/plugins'
mavenRepo 'http://repo.grails.org/grails/plugins/'

It seems like there was a change in grails plugins repository management.

[2015-02-27 13:44] sircelsiussexy commented on #87
That should help, thanks a lot!

[2015-03-02 12:22] tcrossland opened #93 "Support for disabling plugin completely in dev/test environments"
For an application with many searchable domain classes, the startup time of the application is increased by a significant amount (2-3 minutes here on my dev machine, which is a beast). For testing purposes, it would be useful to be able to disable the plugin via a config option. A mechanism similar to the spring security core plugin's `active` option could be used.

[2015-03-03 23:05] blaketastic2 commented on #53
So am I able to point to an analyzer from the searchable closure definition?

If I have a multi_match, and want to apply a lowercase analyzer to the untouched property, can I do this?

[2015-03-04 15:42] noamt commented on #53
This would require adding some features to the plugin (pull requests are gladly accepted); until then you can access the plugin's Java Elasticsearch client instance and use it for the implementation

[2015-03-15 12:43] #88 closed

[2015-03-16 16:03] TomTirapani commented on #62
I'm also experiencing this issue - both dateCreated and lastUpdated are always null. Did anybody find a solution to this problem?

[2015-03-30 23:51] motleycrew commented on #72
Hi @carkar

I am having exact same issue. Did you find a workaround to the problem?

[2015-04-08 05:06] motleycrew opened #94 "No Signature error"
Hi,

As per documentation http://noamt.github.io/elasticsearch-grails-plugin/guide/searching.html
I should be able to do:

Location.search("${q}") where Location is a Domain class with searchable = true

but I am getting following error

No signature of method: Location.search() is applicable for argument types: (org.codehaus.groovy.runtime.GStringImpl) values: [*xyz*]

I have also noticed that it

[2015-04-08 05:36] dawiemalan commented on #94
We've seen the same behaviour. Here's a quick workaround:
Location.search("${q}".toString())

[2015-04-08 05:56] motleycrew commented on #94
Thanks @dawiemalan. I tried your suggestion but no luck on my side.

 def query2 = "${q}"
        try {
            results = Location.search(query2.toString())
        } catch (Exception e) {
            log.error(e.message)
        }

I am still getting

Location.search() is applicable for argument types: (java.lang.String) values: [New York]
Possible solutions: each(groovy.lang.Closure), attach

[2015-04-08 06:11] dawiemalan commented on #94
Looks like your Location class is not being injected with dynamic methods. I would check that the plugin is actually loading and that the Location class is searchable. If root=false you won't get dynamic methods.
If still no luck put a breakpoint in DomainDynamicMethodsUtil.injectDynamicMethods and step through the code there.

[2015-04-08 17:23] cesar2502 opened #95 "Environment variable"
I added this line to `BuildConfig.groovy`:

[code]

I run my project and install the plugin, but I get this message:

[code]
Does any one have any idea how to solve this problem?

Grails 2.4.4
JDK 1.8_20
NetBeans 8.0.2

[2015-04-09 09:33] carkar commented on #72
@motleycrew Nope. Moved some properties into domain in combination with using a mysql river instead.

[2015-04-10 19:17] peh commented on #80
@motleycrew, have you tried creating an action (should be secured in some way) that calls elasticSearchService.index()?

Would be the easiest and i would say the "common" way to do it on produciton servers.
Remember that this can take some time which can result in load balancers trying to do the same request on multiple appservers. Which would in the end result in multiple reindexes. So you should

[2015-04-16 14:43] motleycrew commented on #94
@dawiemalan  I restarted my application and everything seems to be working ok. Thanks for your help.

[2015-04-16 14:44] #94 closed

[2015-04-16 14:46] motleycrew opened #100 "Facets"
Hi,

http://www.elastic.co/guide/en/elasticsearch/reference/1.4/search-facets.html

Has anyone here tried facet search using this pluign? Do you have any examples? I cound't find any example in the plugin documentation.

Thanks,

[2015-04-16 16:22] motleycrew commented on #100
Nevermind! My bad. I should have checked. Facets are same as aggregation.

[2015-04-16 16:22] #100 closed

[2015-04-17 14:47] motleycrew commented on #87
I used elasticSearchHelper and it works great! Thank you all.

[2015-04-17 14:47] #87 closed

[2015-05-20 00:46] marcos-carceles commented on #95
`ELASTIC_SEARCH_HOME` needs to point to your local elasticsearch installation.

In my dev environment I have added these to my `~/.bashrc`:
[code]

[2015-05-20 09:06] abcfy2 opened #106 "How to add other elasticsearch plugins?"
I want to add a [ik](https://github.com/medcl/elasticsearch-analysis-ik) plugin for elasticsearch. How to do this?

Thanks.

[2015-05-20 11:51] marcos-carceles commented on #106
Without deep understanding of *ik* and what I've briefly read about it, it seems it is an elasticserch plugin, not a grails plugin. You should be fine with installing *ik* with you Elasticsearch server (as you would do with any other plugin) and still use the grails plugin.

From what I've seen *ik* uses a custom analyzer and highlighting, these features are supported and documented here:

http://

[2015-05-20 12:43] abcfy2 commented on #106
Thanks. The ``ik`` is a Chinese Word Segmentation plugin for elasticsearch. The grails plugin elasticsearch has an local mode for development. Is there any way to let local mode install plugins for local develop?

[2015-05-20 18:08] bwagner5 opened #108 "Startup is taking a long time"
I just incorporated ElasticSearch into my Grails project and the creation of the data/ directory with state and translog files is taking a good 5-10 minutes on startup. There is no indexing being performed on startup, the bulk index on startup flag is set to false. Is there a way to get my application to boot faster? Offloading that file creation until the app is actually running?

[2015-05-29 17:01] bwagner5 opened #110 "Groovy Conflicting Module Error"
<strong>I'm using Grails 2.5.0 (runtime ":elasticsearch:0.0.4.4") and am getting a conflicting module error when deploying my application in a .war file. grails run-app works fine , run-war does not work (doesn't matter if I use Development or Production environment).</strong>

| Error java.lang.ExceptionInInitializerError
| Error 	at org.codehaus.groovy.runtime.InvokerHelper.<clinit>(InvokerHelpe

[2015-05-29 20:32] bwagner5 commented on #110
This can be solved by putting an excludes block for groovy-all in the plugin dependency block.

        runtime ":elasticsearch:0.0.4.4", {
            excludes 'groovy-all'
        }

[2015-05-31 13:50] donbeave commented on #110
Fixed https://github.com/noamt/elasticsearch-grails-plugin/pull/103, but not released yet.

[2015-06-09 08:54] sophiaraw opened #111 "Searching over multiple domain classes"
I have 5 domain classes that are searchable, but sometimes I only want to search over 2 of them. How would I write that query?

Currently I search over all 5 like this:
        def res = elasticSearchService.search([searchType:'dfs_query_and_fetch']) {
                bool {
                    must {
                        query_string(query: searchString)
                    }

[2015-06-09 09:36] sircelsiussexy commented on #111
Hi,

The `search` method has a `Map params` parameter. You can specify in that Map the types you want to query.

Example:

[code]

See [`ElasticSearchServiceIntegrationSpec`](https://github.com/noamt/elasticsearch-grails-plugin/blob/master/test/integration/org/grails/plugins/elasticsearch/ElasticSearchServiceIntegrationSpec.groovy) for more examples.

[2015-06-09 09:45] sophiaraw commented on #111
Perfect thank you

[2015-06-09 12:20] sircelsiussexy commented on #111
Sure.

@noamt @marcos-carceles feel free to close this.

[2015-06-10 12:48] sophiaraw opened #112 "Multi tenants"
I have a multi tenant application. Each tenant have its own config file where I specify the index name:
elasticSearch {
    index.name = 'tenantIndex'  // different name for each tenant
}

But when I search the results include hits from other tenants.

Please can you advise.

I use:
grails 2.3.11
elasticsearch:0.0.4.4

[2015-06-10 13:04] sircelsiussexy commented on #112
Are you trying to query different indices during runtime? If so you can also specify it when searching via the `indices` entry of the `params` map. See the [search docs](http://noamt.github.io/elasticsearch-grails-plugin/ref/ElasticSearchService/search.html).

[2015-06-10 13:51] sophiaraw commented on #112
Awesome, thanks

[2015-06-11 09:23] sophiaraw opened #113 "MapperParsingException"
In my domain mapping I have the following formula field:

String name
String description
String formulaSearchableJobNumber

static mapping = {
    formulaSearchableJobNumber(formula: "(select p.job_number::text from project p where project_id = p.id)")
}

    static searchable = {
        only = ['name', 'description', 'formulaSearchableJobNumber']
        formulaSearchableJobNumber alias: 'jobNum

[2015-06-11 09:35] sophiaraw commented on #113
Ignore, I found my issue, thanks

[2015-06-11 10:53] rkimaoui opened #114 "Problem rendering Json format from search query in restfullcontroller"
Hello,

I can't render results from search query in json format.
Here is my code:

[code]
It renders an Array.
If i write  `render searchResults as JSON`, it returns this `{"total":6,"searchResults":{"empty":false}}`

Thanks in advance for your help !
R

[2015-06-11 16:03] svetozar02 commented on #108
+1

[2015-06-11 16:08] ph4t commented on #93
You can add the following to BuildConfig.groovy:
`if ( !System.getProperty("noES") ) {
        compile ':elasticsearch:0.0.4.4'
 }`

To disable the plugin just add "-DnoES=true" when you execute a grails command...

[2015-06-12 05:15] nmfisher commented on #37
Have you had any luck mapping a transient collection of domain classes? I know the docs say that you can achieve this by defining the domain class in "hasMany" but this is just throwing the error that the dependent mapping is not injected.

More specifically, say I have three domain classes - Author, Book, AuthorBooks. Author<->Book is a bidirectional many-to-many relationship, mapped by a join ta

[2015-06-12 06:16] v1p commented on #37
try wrapping the content of your transient property's getter in a
[code]
Although I haven't tried a case where the transient property will be a collection. The correct type of such kind of mapping has to be 'nested'. Which I doubt if the current plugin supports for a transient mapping, as all transients are mapped as 'object' by default with this plugin.

[2015-06-12 09:10] nmfisher commented on #37
No luck unfortunately. I don't think it's getting as far as calling the getter itself, SearchableClassPropertyMapping simply can't see that books is an association if it's transient (even when explicitly declared with Set<Book> books and hasMany).

I wonder if this is because the plugin relies on GrailsDomainClassProperty to determine if a property is an association, which is returning false if it

[2015-06-12 09:17] v1p commented on #37
of course! Please do share your approach on this.

On Fri, Jun 12, 2015, 2:40 PM Nick Fisher <notifications@github.com> wrote:

[2015-06-12 14:34] v1p commented on #37
[code]
Doesn't work, @nmfisher Please make a new issue for this.

What's happening in this case is, the 'type' in the mapping is not set to anything (I thought it'll be nested, but it's set to nothing)

[2015-06-12 15:58] bwagner5 opened #115 "Overrides Custom PropertyEditorRegistry Entry"
Upon installation of the ElasticSearch Plugin Version 0.0.4.4, I found that my custom property editor was overridden.

Here's a simple property editor to show:
<code>
import org.springframework.beans.PropertyEditorRegistrar
import org.springframework.beans.PropertyEditorRegistry
import org.springframework.beans.propertyeditors.CustomDateEditor

import java.text.SimpleDateFormat

public class Custo

[2015-06-12 16:08] bwagner5 commented on #108
It looks like what may be taking so long is the actual pulling down of ElasticSearch and installing? Once I have loaded all of those files it starts up quickly. I tested indexing and it only took about 30 seconds for the small amount of test data I have in a dev environment. Others on my team have said it take a good 10-15 minutes to start, but after that it starts quickly.

[2015-06-12 23:45] zaccak commented on #110
I'm getting the same issue, looking forward for a release but I'll use the workaround for now.
Thanks!

[2015-06-13 12:15] nmfisher commented on #37
I actually got this working today* by modifying ElasticSearchMappingFactory, SearchableClassMappingConfigurator and SearchableClassPropertyMapping - at which point I started thinking that this is not actually a good idea at all for my application.

The whole point of mapping the join table is to avoid loading every associated record whenever you want to add to/remove from the join table, right? So

[2015-06-16 09:03] noamt commented on #110
Try 0.0.4.5
On Jun 13, 2015 2:45 AM, "zaccak" <notifications@github.com> wrote:

[2015-06-16 09:19] #113 closed

[2015-06-16 09:21] #111 closed

[2015-06-19 16:16] dstieglitz opened #119 "Bulk index potentially does not index all domain instances"
In ElasticSearchService.groovy, the following criteria query is used to iterate through all domain objects when adding to the indexing queue:

[code]

However this query can return cartesian products depending on the mapping (e.g., if there is a JOIN) and combined with the maxResults/maxBulkRequest configuration this could cause only a subset of instances to be indexed.

[2015-06-20 15:29] kurb70 commented on #61
Unfortunately I'm facing the same problem with version 0.0.4.4 and 0.0.4.5.
Neither `child reference:true` nor `child component:true` settles the matter.

BTW Using Grails 2.5.0,

[code]

One elastic search query results in ~5 MB log messages of that type.

[2015-06-21 10:55] noamt commented on #119
Can you reproduce this with a test case?

[2015-06-22 11:21] dstieglitz commented on #119
We've reproduced it in our app I'll try to recreate those conditions in a test case.

[2015-06-25 12:33] dstieglitz commented on #119
See ea9489dcee4fcee119641d24b29b916f85eaf7d7

[2015-06-28 00:40] bernji opened #122 "No datastore implementation specified"
Hello,

I created a new grails app and added elastic search as described in the manuals to the BuildConfig.

When I start I get the error:
No datastore implementation specified

I also tried:
elasticsearch {
  datastoreImpl = "hibernateDatastore"
}

but I am still getting the same error :(

Can you help?

[2015-06-28 09:16] sufyanshoaib commented on #122
Seems to be case issue, check doc, its `elasticSearch`

[2015-07-09 14:49] bernji commented on #122
I imported the springloaded jar 1.2.3 and it worked

[2015-07-09 14:49] #122 closed

[2015-07-09 14:56] bernji opened #123 "DB migration and elastic search"
Hi,

I am using the elastic search plugin. Everything okay so far.
Now, I wanted to initialize the db migration plugin as described here:
http://grails-plugins.github.io/grails-database-migration/docs/manual/guide/gettingStarted.html

the docs say that there might be some problems with the searchable plugin (which I ran into). The docs suggest that I need to disable the auto index on startup, run

[2015-07-12 21:38] addmaths07 commented on #37
Facing a similar problem as described above by @nmfisher, should I open a new issue?
@nmfisher can you please share the changes you made to make it work?

[2015-07-14 03:23] nmfisher commented on #37
@addmaths07 As mentioned, I didn't go ahead with this as I'm pretty sure there was no benefit (for me at least). Are you really sure you need to index transient hasMany collections? Can you explain what are you trying to achieve?

[2015-07-14 06:43] addmaths07 commented on #37
Here is my case:
There are members who can create variety of content (questions, attachments, events), member itself can have multiple attributes and properties.

I couldn't use actual member domain since I only wanted to keep immediate properties of member in the domain.

[2015-07-14 07:10] addmaths07 commented on #37
Here is my case:
There are members who can create variety of content (questions, attachments, events), member itself can have multiple attributes and properties.

I have to match members against a query.

These are the domains:
MemberRecord {
static searchable = {
only = ["questions", "answers", "polls", "reviews", "attributes "]
questions component:true
answers component:true
polls component:true

[2015-07-14 07:30] nmfisher commented on #37
MemberData already contains the relevant type (question, answer, poll, etc). Why couldn't you just use hasMany [memberData:MemberData] (non-transient), and then your ES query can search for MemberRecords based on the MemberData nested type.

You'd probably need to change the mapping for MemberRecord so that it uses a key on the child table, rather than a separate join table.

Wouldn't this be a lo

[2015-07-14 07:45] addmaths07 commented on #37
Well to be honest, didn't think about it, let me try it out to see what changes are required in overall design.
The reason for keeping separate fields for each type in MemberData, is to make boosting level configurable for each type, plus it simplifies the schema for MoreLikeThis query to run on MemberRecord.

[2015-07-14 07:58] addmaths07 commented on #37
Other approach could be to maintain hasMany <contentType>:MemberData,  relationship with all the contents of member. This would create a sparse association table maintaining relationships of different content types with MemberRecord.
Impact of the approach:
- will increase the complexity of sql scripts that I use to populate the data
- adding new content type will have change in the association ta

[2015-07-14 09:55] nmfisher commented on #37
If you want to be able to boost based on nested object fields, you could have transient boolean properties like isQuestion/isAnswer in your MemberData class (i.e. using a getter only like getIsQuestion()/getIsAnswer() etc), and then index/boost those.

[2015-07-22 16:43] daptordarattler opened #124 "Can't load data from DB (domain models) into Elasticsearch"
Hello,
I used the default configuration from the plugin docs and have a locally installed elasticsearch instance with default configurations. After trying the transport mode for so long only to come here to see a bug report that it doesn't work.
Now I have tried both the node & dataNode modes and still not getting anywhere. The main problem is that I have kibana connected to my instance, and after

[2015-07-24 22:32] marcoscarceles commented on #37
Effectively, the transients mapping do not work with collections of components. I think I've found a fix for this and I will be submitting it asap, alongside an example application and improved docs.

Cheers

[2015-08-05 11:57] hansgru opened #126 "General Search Controller and View?"
Hi,

This plug-in is supposed to replace the Searchable plug-in https://github.com/gpc/searchable (since Searchable is based on Compass).

Is there any migration path from Searchable to ElasticSearchGrails?

I'm missing the General Search Controller and View present in the Searchable plug-ing: it ensured that the plug-in just needs to be specified in Config.groovy, the entities annotated and an ap

[2015-08-05 12:33] sircelsiussexy commented on #126
As far as I know this plugin doesn't provide an app wide search view.

However all your classes marked as searchable (via the `searchable` property, see the [docs](http://noamt.github.io/elasticsearch-grails-plugin/guide/mapping.html)) should be searchable via either of the `Entity.search` and `ElasticSearchService.search` methods.

[2015-08-12 05:30] zhuravskiy commented on #59
+1 when i call elasticSearchService?.index(domain) on some domain instances happen same problem, session is bound to thread?

[2015-09-12 22:24] ejaz-ahmed commented on #112
@sophiaraw  If it the answer your question, can you close this issue?

[2015-09-12 22:30] ejaz-ahmed opened #127 "Grails 3 port"
Is there any plan to port this plugin to grails 3?

[2015-09-13 10:45] donbeave commented on #127
I have this plan.

[2015-09-13 12:27] ejaz-ahmed commented on #127
Thanks @donbeave for the update. When should we expect this?

[2015-09-13 12:35] donbeave commented on #127
I will try to publish it in October-November.

[2015-09-27 09:18] donbeave commented on #127
@ejaz-ahmed hi! you can try this branch: https://github.com/donbeave/grails-elasticsearch/tree/grails3

[2015-09-29 09:38] bernji opened #128 "unindex fails"
Hi there,

I am running v. 0.0.4.5. on grails 2.4.4. Works nicely after a bit of hushle (I needed to import the springloaded-1.2.3 go get it to run. But anyways all queries work and index works as well. Now, I wanted to unindex all but I get this error (with debug)

I call
elasticSearchService.unindex(Product)

I get the error below but
elasticSearchService.unindex(Product.get(1)) works

[code]

[2015-10-09 15:43] ptoner opened #129 "Primary shard is not active or isn't assigned to a known node."
Hi,

For a few days my index was working perfectly. Now when I try to index items manually (using elasticSearchService.index(..)) I receive the following error:

ERROR index.IndexRequestQueue  - Failed bulk item: UnavailableShardsException[1] Primary shard is not active or isn't assigned to a known node. Timeout: [1m], request: org.elasticsearch.action.bulk.BulkShardRequest@369bd6a0]

Some Googlin

[2015-10-09 21:16] ptoner commented on #129
Even more specifically, when running in this mode where can I get more information about the problem? Are there elasticsearch specific logs somewhere? Can I enable this somehow?

[2015-10-29 12:23] priyanshuch commented on #59
Hey, I'm working with mongodb and I'm having the same problem **Failed to marshall domain instance**. Did anyone solve it, yet?

[2015-10-29 23:00] nmfisher commented on #37
So turns out I did have a use case for this, so I've submitted a pull request based on the latest development snapshot. If anyone needs this functionality, please give it a try and let me know.

[2015-10-30 16:15] chrisupb opened #131 "Index and search files (byte[], base64)"
The mapper-attachments plugin enables uploading and indexing of files as base64: https://github.com/elastic/elasticsearch-mapper-attachments

In `ElasticSearchMappingFactory` there are the following allowed datatypes for automatic domain class property mappings ['string', 'integer', 'long', 'float', 'double', 'boolean', 'null', 'date']. Could it be possible to add `byte[]` to index binary data in

[2015-11-03 09:46] maoying1229 opened #132 "ElasticSearch missing Problems Urgent help ---------thanks"
def res=Goods.search([from:(params.offset), size:(params.max)]){
                query:{
                    bool{
                    filtered:{
                        query:{
                                 must{
                                    term('brand.name':'name')
                                }
                            }

                            filter:{

[2015-11-04 16:52] chrisupb commented on #131
The mapper-attachment-plugin does not run out of the box with the elasticsearch-grails-plugin. Workaround:

Create a domain class with your file as base64

    class Document {
       String fileName
       String extension

       /** The uploaded file as base64. Can be transient. */
       String file

       static searchable = {
           only = [ "file", "fileName", "extension" ]

[2015-11-04 20:31] abowsher opened #133 "Exclude or include specific domains by package"
I am upgrading the Weceem plugin.  It switched to using ElasticSearch.  Now, one of my domain classes outside of Weceem is causing an exception at startup, because it had a property named 'searchable' and ElasticSearch thinks it's the searchable closure.

I do have a few classes I've extended from Weceem for custom content types.  I have no interest in making any of my other application domain cla

[2015-11-04 20:43] marcoscarceles commented on #133
I hope this helps...

Customize the name of the `searchable` property:
http://noamt.github.io/elasticsearch-grails-plugin/guide/single.html#configuration

Declare your classes o be searchable or not:
http://noamt.github.io/elasticsearch-grails-plugin/guide/single.html#quickStart

[2015-11-04 20:45] abowsher commented on #133
Thanks for the reply... unfortunately that is not an easy solution either, because the content classes in the Weceem plug use the searchable closure.

[2015-11-04 21:01] abowsher commented on #133
Thankfully SearchableClassMappingConfigurator is a Spring bean, maybe I can override it with my own bean that excludes the right classes, for now.

[2015-11-11 15:17] chrisupb opened #134 "run-war not working with grails 2.2.4 and elasticsearch 0.0.4.6"
My Grails version is: 2.2.4

My projects BuildConfig contains grails.project.dependency.resolution.plugins = { runtime ":elasticsearch:0.0.4.6" }

When deploying my WAR to the embedded jetty everything works. With a Tomcat 7.0.42 the following error occures:

2015-11-11 16:01:30,303 [localhost-startStop-2] ERROR StackTrace  - Full Stack Trace:
org.springframework.beans.factory.BeanCreationExceptio

[2015-11-12 00:48] amcclain commented on #119
Ouch - just got hit by this ourselves - also using fetch:'join' for performance reasons on our domain class's associations and seeing partial indexing. Tricky behavior out of withCriteria - but something that the plugin probably should account for given that these kind of fetching strategies are part of the GORM association API and likely not uncommon.

At this point we will likely work around by

[2015-11-13 12:00] chrisupb commented on #134
OK I just realized that it is not a webapplication container issue. It's the problen with _run-war_ or packaging a WAR in general.

I created a fresh Grails 2.2.4 project and only added :elasticsearch:0.0.4.6" => this causes the same error as above.

[2015-12-15 19:51] abowsher commented on #133
My workaround almost worked (a custom Spring bean to take the place of the SearchableClassMappingConfigurator and simply only look for 'searchable' in the packages I care about)... it worked locally.  But when deploying as a war to a Linux box, I get some weird exception 'MasterNotDiscoveredException'.  I have no idea what that means or how to work around it, for me this plugin is buried in Weceem

[2015-12-16 16:33] abowsher commented on #133
Fwiw, there were some grails options that needed to be set that I wasn't familiar with.  I guess I expected Weceem to just work out of the box (well, I expected it needed configuration but not the plugins underneath it).  The saving grace was this post:

http://stackoverflow.com/questions/30248690/grails-webapp-failure-to-deploy-to-aws-elasticsearch-issue

The answer there really came from this:

[2015-12-21 13:30] dalibor-frivaldsky opened #135 "Support for Elasticsearch 2.x"
Elasticsearch 2.x has been out and stable for some time. Are there any plans to add support for it?

[2015-12-23 10:07] donbeave commented on #135
Hi @dalibor-frivaldsky

I preparing to update this fork (https://github.com/donbeave/grails-elasticsearch/tree/grails3) to support 2.x version.

[2015-12-23 11:37] SAgrawal14 commented on #135
:+1:

[2015-12-23 11:39] priyanshuch commented on #135
:+1:

[2016-01-05 12:36] dalibor-frivaldsky commented on #135
Hi @donbeave

that is great! Do you have any estimate for the availability of 2.x support? Thanks!

[2016-01-05 15:36] simpss commented on #129
What solved this for me was deleting the generated data and .slcache folders.

I'm guessing it was caused by old indexes that needed to be cleaned up after re-creating the database.

[2016-01-12 15:22] sijitang opened #136 "How to Highlighting numeric and date fields"
it seems not working with highlight Settings...Thx

[2016-01-19 15:45] tomsap85 opened #137 "Defining custom Analyzers"
I couldn't find a simple way to define a custom analyzer.

I'm working with Grails 2.5.3 and elasticSearch 0.0.4.6.
Under config.groovy i use the following to define "my_analyzer":
elasticSearch {
    datastoreImpl = 'hibernateDatastore'
    client.mode = 'transport'
    index {
        analysis {
            filter {
                'my_synonym_filter' {
                    type = 'synonym'

[2016-01-27 05:42] ande8133 commented on #137
+1

[2016-02-01 20:14] hubix786 opened #140 "Plugin installation error"
Hello, i have problem with installation plugin on Grails 2.4.4
Here's my log:

[code]

[2016-02-02 03:27] puneetbehl commented on #140
I think the problem is you do not have path variable "ELASTIC_SEARCH_HOME" pointing to your ElasticSearch home directory.

[2016-02-02 04:12] johngamarra commented on #135
@donbeave please can you tell us if you are going to do a release of your fork? thanks!

[2016-02-02 05:39] puneetbehl commented on #128
Could you please create a sample application which replicates this issue?

[2016-02-02 17:12] hubix786 commented on #140
I installed ElasticSearch and set path variable, but i still have fatal error during compilation

[2016-02-02 17:41] vonovak commented on #140
What version of elasticsearch are you using? Plugin only supports version
1.*
Am 02.02.2016 18:12 schrieb "hubix786" <notifications@github.com>:

[2016-02-04 09:35] hubix786 commented on #140
I installed the newest - 2.1.1. Which version would you recommend as best for cooperation with this plugin?

[2016-02-04 10:14] vonovak commented on #140
The plugin was written with 1.6 which is probably the safest option, but
I'm running it with 1.7.4 and it works well - there were no api changes in
the features I'm using.
Am 04.02.2016 10:35 vorm. schrieb "hubix786" <notifications@github.com>:

[2016-02-04 10:22] hubix786 commented on #140
On ES 1.6 version still same error... now i really don't know what i'm doing wrong

[2016-02-04 10:26] vonovak commented on #140
And did you change the home variable? This has to work. Make sure grails is
picking up the right elasticseach. Try grails clean or clean all if stuck.
Am 04.02.2016 11:22 vorm. schrieb "hubix786" <notifications@github.com>:

[2016-02-04 10:39] hubix786 commented on #140
every time i changed ES version i edited path variable. After cleaning log is diffrent and soooooooooo long

http://ctrlv.it/id/4217/1530353439

[2016-02-04 11:08] chrisupb commented on #134
Solution:
Use at least grails 2.3.1 and
 runtime ":elasticsearch:0.0.4.6", {
            exclude "org.codehaus.groovy:groovy-all"
        }

[2016-02-04 11:08] #134 closed

[2016-02-04 11:09] #131 closed

[2016-02-04 16:47] vonovak commented on #140
hmm googling for the "Unsupported major.minor version 51.0" indeed brings up java-related stuff. I'm running latest oracle jdk (on ubuntu).

[2016-02-04 16:58] hubix786 commented on #140
some time ago i googled very similar query (with class name) and i saw that too. For programming purposes i have installed 3! jdk versions: 1.6, 1.7 and 1.8, and in environmental path i have set 1.8, maybe that make this error, although project vesion is 1.6.

[2016-02-04 20:04] hubix786 commented on #140
Case closed. major.minor version 51.0 refers to Java 1.7, so trying to start @ Java 1.6 creates this error. Thanks for help.

[2016-02-04 20:04] #140 closed

[2016-02-15 23:05] PhilipWu commented on #135
For those that are interested,
I've created a branch in my own repository starting from version 0.4.3 as the baseline and modified it to work with **Grails 2.x** and **ElasticSearch 2.1.0**. This is good for those that are not quite ready to switch to grails 3.x

also in my version, I've updated the API to support aggregation queries

I've done some basic testing importing records and searching an

[2016-02-23 10:03] marcoscarceles opened #141 "Plugin versioning"
Hi there,

I'n planning to publish an update for the plugin for its Grails 2.x version so that it's compatible with Elasticsearch 2.1.2 (there's no 2.2.0 elastic-groovy support yet :( ). Since we're starting to have a bunch of incompatible versions of the plugin (Grails 3.x vs Grails 2.x, ES 1.x vs ES 2.x), I must raise the question of versioning...

So far I've versioned my branch as `0.1.x-SNAPS

[2016-02-23 15:32] bernji opened #142 "quartz scheduler not killed on redeploy"
Hi there,

today I found out using [probe ](https://github.com/psi-probe/psi-probe) on my tomcat that the quartz scheduler are not killed on un-/redeploy of my war which uses the es plugin.

I appears that the plugin is not shut down "the nice way". Is there a way to do this? Maybe a service method I could call in the Bootstrap class in the destroy method that is shutting down the elastic search p

[2016-02-24 08:59] marcoscarceles commented on #135
Sorry @PhilipWu I hadn't realised there was already traction for a ES 2.x Grails 2.x version... I've just submitted PR #143 which I believe satisfies what's requested here. Feel free to have a look and comment.
@noamt Would there be possible to get permissions to release on the grails site? Also... what do you think about #141 ?

[2016-02-24 11:18] vonovak commented on #137
I was once dealing with a similar situation when I needed to define custom analyzers. I ended up with using the `multi_field: true` because it fit my situation well and the following code didn't work as expected (although the mapping looked good in the head plugin). Anyway, here's something you can start with (add to your `bootstrap.groovy`).

[code]

[2016-02-25 02:35] PhilipWu commented on #135
Thanks **marcoscarceles**
I'm glad to see these changes becoming official.
although I'm using my own branch, most of the changes you've made look the same, and I can confirm we've been running for several weeks in production environment without issues  for both searching and indexing operations.

cheers

[2016-02-25 07:43] marcoscarceles commented on #135
@PhilipWu :+1:

[2016-03-01 15:47] Schlogen commented on #141
@marcoscarceles Are there breaking changes in elasticsearch between say 2.1.x and 2.2.x ?

[2016-03-01 18:09] Schlogen commented on #141
@marcoscarceles In general I think the versioning strategy you proposed, while detailed, is too complicated to be easily understood. Is it fair to say that elasticsearch 1.x is still widely used? Is it used enough to warrant being considered in the versioning strategy?

[2016-03-02 00:42] marcoscarceles commented on #141
Hi @Schlogen I know it's complicated, but there are three different elements that will vary independently (grails, ES and the plugin itself) with incompatible apis and this is an aim to avoid locking users into specific provider versions. Suggestions for a cleaner way are more than welcome. About ES 1.x being supported, I totally agree and therefore the 0.0.x (which continues with the current vers

[2016-03-02 03:02] Schlogen commented on #141
@marcoscarceles What if the major and minor version of the plugin simply tracked the version of elasticsearch. I think we can consider any Grails 2.x work to be complete and will not be maintained. In addition, it's relatively rare for the version of Grails the plugin is created with impacts usage in other versions of Grails.

If there happens to be a breaking change, it would require users to do

[2016-03-02 07:54] bernji commented on #142
no support in here?

[2016-03-02 10:07] marcoscarceles commented on #141
@Schlogen therefore...

| Plugin Version        | Grails           | Elasticsearch |
| ------------- |:-------------:| -----:|
| 0.0.4      | 2.4.x | 1.x |
| 0.1.x      | 2.4.x      |   2.1.x |
| 0.2.x      | 2.4.x      |   2.2.x |
| 2.1.x  | 3.x.x      |    2.1.x |
| 2.2.x  | 3.x.x      |    2.2.x |

Did I understand it right? Yup, that's totally fine by me.

I'd still like to release the 0.1 and

[2016-03-02 20:22] hugheba opened #145 "Error on Grails 3.1.x with Mongo and new Elasticsearch plugin"
I'm having an error when using the Mongo Grails plugin v5.0.1 with the Elasticsearch plugin v1.0.0.

I've created a simple sample project that recreates the error below.

[https://github.com/hugheba/grails3.1.x-mongo-elasticsearch](https://github.com/hugheba/grails3.1.x-mongo-elasticsearch)

[code]

[2016-03-04 16:46] bernji commented on #142
Here is the sollution:
When you declare
`elasticSearch.client.mode = "node" `
the threads are not killed.
but when you declare
`elasticSearch.client.mode = "dataNode"`
the threads are killed.

This is because you are only chekcing for mode == "local" and "dataNode" but not for "node". When mode is local or dataNode you call shutdown()

You should fix this because servers get slow when threads are

[2016-03-05 12:02] puneetbehl commented on #145
@hugheba This because the conflict in search method of MongoDB plugin and another we are trying to inject via Elasticsearch. I need to think through this because if we change the search method name, migrating to new will stop backward compatibility.

[2016-03-05 12:52] hugheba commented on #145
@puneetbehl Would it be possible as a temporary solution to have a config option to not add the search method to Domain/Entities and use the elasticsearchSearch.service instead?

[2016-03-05 13:38] puneetbehl commented on #127
#144

[2016-03-05 13:38] #127 closed

[2016-03-05 13:40] puneetbehl commented on #112
@sophiaraw Can you please close this issue?

[2016-03-17 11:59] puneetbehl commented on #141
ok, I am also good with @marcoscarceles suggestion and let's go with this.

[2016-03-17 11:59] #141 closed

[2016-03-23 17:02] pvsousalima opened #146 "Cannot connect to ElasticSearch instance protected with Shield plugin"
I am using ElasticSearch in a project for my company. I'm also using shield (an elasticsearch plugin) to make security via http enabled, this way I won't have my ES instance receiving requests from "strangers".

I'm using the elasticsearch-grails-plugin to connect to a given ES instance running.

It works like a charm! Until I get to install shield. The grails application says it can't find a node

[2016-03-31 08:32] bernji opened #147 "Please update the documentation"
Hi,

I know all developers hate to write documentations. So do I.
But now, as I am a user of your plugin, I am kind of left alone. The documentation provided is very old.

But the worst:
I am using grails 2.x and would like to upgrade to the newest version of EL as possible. I cannot find any reference which version I could use.

As I notices. Most developers of grails plugins have 2 different bra

[2016-04-01 16:24] rkimaoui opened #148 "attachment can not be null"
Hello,

When i save Message class without setting file, i get this error:

` [elasticsearch[Dominic Petros][transport_client_worker][T#5]{New I/O worker #5}] ERROR grails.plugins.elasticsearch.index.IndexRequestQueue - Failed bulk item: MapperParsingException[No content is provided.]`

`file nullable: true` doesn't seem to work.

Here is my code:
[code]

Thx in advance !

[2016-04-08 18:54] ArtemZ opened #149 "Can't get grails-2.x branch to work"
Hello,

I'm trying to use elasticsearch plugin (branch grails-2.x) with my grails 2.4.5 application, but application fails at start with the following exception:

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'elasticSearchBootStrapHelper': Cannot resolve reference to bean 'elasticSearchService' while setting bean property 'elasticSearchService'; nested exc

[2016-04-08 18:59] puneetbehl commented on #149
@ArtemZ please add sample github application. Also, seems like `java.lang.IllegalStateException: path.home is not configured`

[2016-04-09 22:54] jadelus commented on #135
@PhilipWu which version of Grails have you tested this with? I am trying to run with 2.5.4 and having some issues. Thanks.

[2016-04-10 23:20] PhilipWu commented on #135
@jadelus

the grails version i use is 2.4.4

what kinds of problems are you having? and which plugin are you using?

good luck

On Sun, Apr 10, 2016 at 8:54 AM, jadelus <notifications@github.com> wrote:

--
/**
* Philip Wu
*/

[2016-04-11 03:43] jadelus commented on #135
@PhilipWu I am using elasticsearch:0.0.4.6. It worked fine in run-app but I'm getting the following error when trying to run a standalone jar or war file:

`java.lang.ExceptionInInitializerError
	at org.codehaus.groovy.runtime.InvokerHelper.<clinit>(InvokerHelper.java:62)
	at groovy.lang.GroovyObjectSupport.<init>(GroovyObjectSupport.java:32)
	at org.codehaus.groovy.grails.commons.AbstractGrailsAp

[2016-04-11 06:18] marcoscarceles commented on #135
ES 2.1.x support for Grails 2.x apps is coming up on release 0.1.0 (357d171)

@noamt @puneetbehl any idea when could this be released? Cheers!

[2016-04-11 08:59] PhilipWu commented on #135
@jadelus

The ES plugin i'm using is one that I customized myself by modifying the
source code, so we're using very different versions.
As Marcos said, there's a pending release that you'll want to hold out for
before upgrading your elasticsearch.

Good luck

On Mon, Apr 11, 2016 at 4:18 PM, Marcos Carceles <notifications@github.com>
wrote:

--
/**
* Philip Wu
*/

[2016-04-11 14:01] jadelus commented on #135
@marcoscarceles thanks for the pointer. Unfortunately it looks like the new version only goes from Grails 2.4.4 to 2.4.5 which bumps the groovy version from 2.3.7 to 2.3.11. That will probably still have the same issue with Groovy 2.4.4. Perhaps I can take a look at what you did @PhilipWu and move it up to the latest 2.5 Grails release.

Thanks

[2016-04-13 14:21] valerius commented on #110
+1

[2016-04-13 17:42] puneetbehl commented on #147
@bernji The latest version 0.1.0 has been released over https://grails.org/plugin/elasticsearch with the support of Elasticsearch 2.x. I'll work on updating the documentation. For the time being you could refer to [Documentation here][http://noamt.github.io/elasticsearch-grails-plugin/guide/introduction.html] and feel free to reach out to me in case you face any issues.

[2016-04-13 17:47] puneetbehl commented on #135
@marcoscarceles version 0.1.0 is published.

[2016-04-18 18:23] puneetbehl commented on #147
Updated [documentation](http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html). Please let me know if you find any issues with it.

[2016-04-24 09:12] glont commented on #147
Hi,

First of all the documentation seems overall pretty good as far as i can see, thanks.

One thing the documentation does currently not explain is how to use aggregations. As far as i understand the  [aggregations should appear in the result map](https://github.com/noamt/elasticsearch-grails-plugin/blob/56e4204f50ea684b51cc4f5c8af23db6561f6d7d/grails-app/services/grails/plugins/elasticsearch/El

[2016-04-26 12:52] davydotcom opened #150 "Error using latest for grails 3.1.5"
Error loading plugin breaking startup

grails.plugins.exceptions.PluginException: Failed to initialize class [test.AbstractImage] from plugin [elasticsearch] : test.AbstractImage

[code]

[2016-04-26 14:08] davydotcom commented on #150
appears fixed in PR #151

[2016-04-26 22:09] davydotcom opened #152 "Wait for cluster status error"
[code]

Grails 3.1.5 simply starting up with the latest plugin branch master

[2016-04-27 06:23] puneetbehl commented on #152
Please add following in your `application.yml` file
[code]
Following is the link for [Sample Application](https://github.com/puneetbehl/elasticsearch-demo.git)

[2016-04-27 12:22] davydotcom commented on #152
I should mention it works fine on one laptop not the other

Sent from my iPhone

[2016-04-28 20:36] puneetbehl commented on #150
There is one strange issue that the [elasticserach-1.0.0.1.jar on bintray](https://bintray.com/puneetbehl/plugins/elasticsearch/1.0.0.1/view#files/org/grails/plugins/elasticsearch/1.0.0.1) is different from one downloaded when we use plugin in application which is causing the above problem.

Extract the jar and look into `META-INF/grails-plugin.xml`.

[2016-04-28 20:40] puneetbehl commented on #148
Which version of Grails and plugin are you using? Also, it would be great if you could create sample grails application describing the problem over GitHub.

[2016-04-28 20:50] puneetbehl commented on #147
Thanks for the feedback @glont. I will surely look into this over coming weekend and try to update documentation.

[2016-04-28 22:03] vonovak commented on #147
+1 for aggs documentation. Previously, I ended up coding them using the java interface which definitely isn't as readable as the groovy way.

[2016-05-09 22:02] donbeave opened #153 "Failed to initialize class [test.AbstractImage] from plugin [elasticsearch] : test.AbstractImage"
Hello!

Getting error with latest version (1.0.0.1):
[code]

[2016-05-10 03:00] cris-barredo commented on #153
I've also encountered this issue. Hope this will be fixed soon.

[2016-05-10 15:53] donbeave commented on #153
As I see in commits it's already fixed in `1.0.0.2`, but not released.

@puneetbehl when you plan to release it?

[2016-05-10 18:25] puneetbehl commented on #153
@donbeave Done, please try with `v1.0.0.2`

[2016-05-10 18:35] donbeave commented on #153
Thank you.

[2016-05-10 18:35] #153 closed

[2016-05-10 18:45] puneetbehl commented on #150
Fixed with publishing new version `v1.0.0.2`. Also, it seems that it's same as of #153

[2016-05-10 18:45] #150 closed

[2016-05-10 18:46] puneetbehl commented on #152
Could you please try with `v1.0.0.2`? and if you still face issues then it would be great to have a sample application demonstrating the problem.

[2016-05-10 18:53] puneetbehl commented on #149
@ArtemZ  please try with memory type `simplefs`. Following are the update properties:
[code]

[2016-05-10 19:03] puneetbehl commented on #145
@hugheba  Fixed in `v1.0.0.2` in commit  [7f6f1b0](https://github.com/noamt/elasticsearch-grails-plugin/commit/56e4204f50ea684b51cc4f5c8af23db6561f6d7d).
Please read more about it under [dynamic-method-injection](http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html#dynamic-method-injection) in [Documentation](http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html)

[2016-05-11 02:46] davydotcom commented on #152
Will do

Sent from my iPhone

[2016-06-03 03:32] yiqingchen opened #157 "How to configure multiple data sources? (多数据源怎么配置)"
How to configure multiple data sources? (怎么配置多数据源呢)

[2016-06-14 12:59] mlist commented on #61
I have the same issue as @kurb70 in grails 2.5.3

[2016-06-14 13:03] sircelsius commented on #61
@mlist I don't use Grails anymore so I can't help you there mate. Sorry!

[2016-06-15 02:24] yang22zhang opened #159 "Error on Grails V2.5.0 with Elasticsearch plugin V0.1.0"
I'm having an error when using  Grails V2.5.0 with Elasticsearch plugin V0.1.0.
This problem does not appear in the Elasticsearch plugin V0.0.4.6.
[code]
Config:
[code]
Domain:
[code]

[2016-06-15 03:08] #159 closed

[2016-06-15 03:12] yang22zhang commented on #159
Other Domain has the same name but different nodes

[code]

[2016-06-15 17:32] mdhavale opened #160 "script.disable_dynamic / script.groovy.sandbox.enabled"
I'm trying to disable dynamic scripting for my local ES instance.  As far as I can tell, the plugin doesn't support the following two configuration items.  Is that the case?
elasticsearch.script.disable_dynamic
elasticsearch.script.groovy.sandbox.enabled

Thank you!

[2016-06-16 09:17] abcfy2 opened #161 "Hang at "Installing Elasticsearch Plugins" line."
Here is the output:

[code]

When install the plugin, I find this plugin often hang at "Installing Elasticsearch Plugins" line.

[2016-06-16 09:24] abcfy2 commented on #161
Does this plugin need more dependencies while installing?

[2016-06-16 10:09] abcfy2 commented on #161
My grails version is `2.5.0`
Here is my `BuildConfig.groovy`:

[code]

And when I run:
[code]

output:
[code]

But when I use `ctrl-c` to interrupt the command, and run `grails test-app -unit` again, it works.

How could I solve this issue? I don't wan't to execute twice after clean the project.

[2016-06-22 21:53] tparkergh opened #162 "indexing at startup blocking app startup?"
I'm having a bit of a performance issue with indexing on startup and had a few questions regarding indexing and aliasing. I'm a little unclear about the startup index process.

 If I understand correctly, the app will attempt to index the data on startup if the appropriate flag is set, and will create a new versioned index if the appropriate flags are set and there is a change that requires a new

[2016-06-23 00:29] tparkergh commented on #162
After rereading the doc, I'm wonder if I actually ever need to do a bulk index on startup if I want to use the aliasing strategy.

[2016-06-28 13:16] abrahaj opened #163 "SpringApplication & ClusterHealthStatus on Grails 3.1.x"
Plugin 1.2.0 fails on Grails 3.1.x (3.1.8)

`Running application...
ERROR org.springframework.boot.SpringApplication - Application startup failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'grailsApplicationPostProcessor' defined in books.Application: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstanti

[2016-06-29 04:13] puneetbehl commented on #163
I'll look into over weekend. Can you create a sample application demonstrating this problem?

[2016-06-29 13:23] abrahaj commented on #163
Sure
https://github.com/abrahaj/brut

[2016-07-10 10:30] tgsoverly commented on #163
Seems similar: https://github.com/spring-projects/spring-boot/issues/5106

[2016-07-11 22:33] clessiomendes opened #164 "install an es plguin (elasticsearch-mapper-attachments) into the grails plugin"
Hi there. I'm restricted to use the plugin in "embedded" mode ( `client.mode = 'local';` ) and I would like to install the [elasticsearch-mapper-attachments](https://github.com/elastic/elasticsearch-mapper-attachments) in my hosting grails application. I've installed the mentioned plugin in ELASTIC_SEARCH_HOME with all the necessary libs, but how could I move them to my grails app and which change

[2016-07-12 13:00] PatrickHuetter commented on #163
I can confirm this issue with the current plugin version 1.2.0 and grails 3.1.9.

[2016-07-14 20:45] valerius commented on #163
+1

[2016-07-15 05:17] younisalrawi commented on #149
I am still having this problem with 2.5 using mode of 'node'

Is there any update on this ?

[2016-07-15 09:48] marcoscarceles commented on #162
My recomendation on using the alias strategy would be not to reindex on start up but have another mechanism to allow reindexing in the background after the application starts (we use a quartz job for this).

The `elasticSearch.migration.disableAliasChange` configuration property was introduced with a set up similar to this in mind. application will be able to read from the `*_read` alias whilst it

[2016-07-15 10:11] marcoscarceles commented on #164
Hi @clessiomendes !

The plugin allow using  `elasticsearch-mapper-attachments` OOTB. It is loaded here:
https://github.com/noamt/elasticsearch-grails-plugin/blob/master/src/main/groovy/grails/plugins/elasticsearch/ClientNodeFactoryBean.groovy#L203

It should be included in the classpath, thanks to:
https://github.com/noamt/elasticsearch-grails-plugin/blob/master/build.gradle#L91

Since our integr

[2016-07-15 15:02] marcoscarceles commented on #163
Effectively this is a bug related to the ootb third party versions provided by Spring Boot. There's an issue with the plugin's documentation. The following should be added to `build.gradle`:

[code]

[2016-07-15 15:06] marcoscarceles commented on #163
@abrahaj @valerius We've tested the approach above on Production applications and it works fine. Please let me know if you need any further help.

[2016-07-15 15:10] valerius commented on #163
That works for me :)

[2016-07-18 14:10] marcoscarceles commented on #163
To be more specific, Spring Boot 1.3.x supports ES 1.5.2:
https://github.com/spring-projects/spring-boot/blob/1.3.x/spring-boot-dependencies/pom.xml#L70

Next release of Spring Boot will support ES 2.3.3

[2016-07-20 14:17] PatrickHuetter opened #166 "How to sort, limit and order search and searchResults?"
I'm using the search(String) method¹ (injected into the DomainClass) to search documents by lucene query syntax and i would like to add some filtering/querying features to my restful api.

E.g. I've the rest call GET /persons which returns all persons, i would like to be able to filter this persons on their attributes. E.g.  GET /persons?q={luceneQuery}

I've already build this as described but no

[2016-07-20 18:41] tparkergh commented on #162
Thanks for getting back.
I ended up turning off reindex on startup like you mentioned, then exposing a private service that would kick off the indexing when we needed it. We don't need to re-index regularly so the quartz job seems a bit overkill. And we would want to reindex at explicit moments when we make changes, such as a deploy that required a analyzer change or something that would impact in

[2016-07-20 21:57] marcoscarceles commented on #162
@tparkergh that another good way to achieve it, of course. We kept it blocking as the default behaviour to keep compatibility with older implementations of the plugin, but still configurable (as mentioned above) so you could follow an approach with multiple aliases for reading and writing (like yours) 😄

[2016-07-20 21:58] #162 closed

[2016-07-20 22:11] marcoscarceles commented on #166
Query Closures or `QueryBuilder` could provide you more control over the query. For your use case you can use `elasticSearchService` in combination with `SortBuilders` as described here:

http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html#sorting

If you need finest grain control you can use the `elasticSearchHelper.withElasticSearch { Client client -> ... }` implementation using E

[2016-07-25 17:48] biohazardxxx commented on #149
I have the same issue with Grails 2.5.4

ES config:
elasticSearch.datastoreImpl = 'hibernateDatastore'
elasticSearch.client.mode = 'local'
elasticSearch.index.store.type = 'simplefs'
elasticSearch.path.data="C:/temp/toolDevTemp/"

included via:
compile "org.grails.plugins:elasticsearch:0.1.0"

[2016-07-27 16:02] puneetbehl commented on #149
I am at the GR8Conf US these days :) and  might  not be able to look into this in next 2-3 days. But, could you please create a sample application meanwhile which replicates the issue.

Thanks

[2016-07-28 13:32] biohazardxxx commented on #149
while preparing the example app I could not recreate this.
as workaround adding the ES home via the Tomcat JAVA_OPTS: -Des.path.home=C:\elasticsearch-2.3.4\
works.
I compared from the example  to my failing project the following files and removed all major differences:

- Config.groovy
- Build.groovy
- Application.properties
- DataSource.groovy
But issue remains. Any idea where to look else?

BTW:

[2016-08-04 15:55] #163 closed

[2016-08-09 12:44] simpss opened #167 "ClusterHealthStatus not found"
Trying to update my app to grails `3.1.10` and I'm using version `1.2.0` of this plugin.

When starting the app with `grails run-app` it cannot instantiate the elasticsearch plugin.

[code]
I've found a similar stacktrace on pastebin but there is no solution there: http://pastebin.com/epfCCMZ1

I also found https://github.com/spring-projects/spring-boot/issues/5106 where they say that turning off

[2016-08-09 13:51] simpss commented on #167
don't know how i missed this when creating the post, anyway this is a duplicate to https://github.com/noamt/elasticsearch-grails-plugin/issues/163

[2016-08-09 13:51] #167 closed

[2016-08-14 09:21] puneetbehl commented on #149
One might see this exception if configured `elasticSearch.client.mode=node` or `dataNode`. So, we need to define `es.path.home` in VM options as mentioned by @biohazardxxx

For Grails application to run simply run as `grails run-app -Des.path.home=<PATH_TO_ELASTICSEARCH_HOME_DIR>`.

[2016-08-14 09:21] #149 closed

[2016-08-14 13:20] puneetbehl commented on #161
@abcfy2 Could you please upload the sample application, as I am not able to run tests fine. Also, I believe it should be `grails test-app unit:` to run only unit tests.

[2016-08-14 14:04] puneetbehl commented on #161
Also, please try to run the following application https://github.com/puneetbehl/ElasticsearchDemo

[2016-08-14 14:05] #145 closed

[2016-08-14 21:10] marcoscarceles commented on #145
@puneetbehl @hugheba The search method name has long been configurable:

http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html#configuration

[code]

[2016-08-15 01:41] puneetbehl commented on #112
BTW, here is the update link of [search docs](http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html#searching)

[2016-08-15 01:41] #112 closed

[2016-08-15 01:43] puneetbehl commented on #108
@bwagner5 @svetozar02  Which version of plugin and Grails are you using? and what configurations you have? Can you create a sample application demonstrating the issue?

[2016-08-15 01:46] #110 closed

[2016-08-15 06:01] abcfy2 commented on #161
I've been solved this issue. Because of [this line](https://github.com/noamt/elasticsearch-grails-plugin/blob/0.1.0/scripts/_Events.groovy#L10) in version `0.1.0`, this plugin would download `elasticsearch-mapper-attachments` plugin if `'test/resources/plugins'` did not exist.

So I create this dir and run again to avoid downloading. Because I'm not using this plugin, and maven central is too slow

[2016-08-15 06:14] puneetbehl commented on #161
ok, but this should not make it hang. Also, you won't be able to use attachment type unless you have elasticsearch-mapper-attachments.

[2016-08-15 06:18] abcfy2 commented on #161
It hang at downloading. Too slow to wait too much time. So just create dir will skip downloading plugin.

[2016-08-15 06:26] #161 closed

[2016-08-15 06:30] puneetbehl commented on #132
Could you please describe it more clearly? It would be nice if you can create a sample application describing the problem.

[2016-08-15 06:32] puneetbehl commented on #157
Could you please describe in english?

[2016-08-15 06:35] puneetbehl commented on #95
Also, you might want to move to `v0.1.0` which is latest version for Grails 2.x.

[2016-08-15 06:35] #95 closed

[2016-08-15 06:37] puneetbehl commented on #152
@davydotcom  Any updates on this?

[2016-08-15 06:44] #14 closed

[2016-08-15 06:50] puneetbehl commented on #22
@donbeave Though, it's a very old issue. But, just in case are you still facing this issue with recent versions of plugin.

[2016-08-15 08:37] donbeave commented on #22
Very old, and not actual now. Everything works fine on latest version.

[2016-08-15 08:37] #22 closed

[2016-08-15 13:20] svetozar02 commented on #108
grails 2.5.0 & elasticsearch:0.0.4.4. Unfortunately I won't be able to create a sample any time soon.

[2016-08-15 13:27] puneetbehl commented on #108
ok, it seems similar to #161 so I think with `v0.1.0` for Grails 2.x you should be able to resolve this and `v1.2.0` for Grails 3.x you should not face this issue.

[2016-08-15 16:27] puneetbehl commented on #166
Here is how you can achieve it:

[code]

[2016-08-15 16:49] #166 closed

[2016-08-22 15:31] bruno-lopes commented on #108
@puneetbehl I have faced a similar situation.
I think it is related to this:
[2016-08-22 14:37:34,475][DEBUG][action.admin.cluster.health] [indice] observer: timeout notification from cluster service. timeout setting [30s], time since start [30s]

Elasticsearch is waiting the health status for each index, and the default waiting time is 30s. In the code, it is in this line:
https://github.com/noam

[2016-08-22 15:59] puneetbehl commented on #160
Which version of plugin are you using?

[2016-08-22 20:20] bruno-lopes commented on #108
I tested locally here and the following code does the work in order to increase the speed.

    client.admin().cluster().prepareHealth(index).setWaitForYellowStatus().**setTimeout(configuredTimoutTime)**.execute().actionGet()

In version 0.4.4, it must be changed here: https://github.com/noamt/elasticsearch-grails-plugin/blob/af3b43d43c3204219aa0a3b5192ed1290dec750c/grails-app/services/org/grails/

[2016-08-31 18:47] sgates opened #170 "No scores returned?"
The docs say explicitly that my response should contain 3 items:

"These search methods return a Map containing 3 entries:
a total entry, representing the total number of hits found
a searchResults entry, containing the hits
a scores entry, containing the hits scores"

But in my case, I never get the scores back when using the simple search. Am I missing something or is something broken?

[2016-08-31 18:54] sgates commented on #170
I was too impatient. For those with the same problem, the docs are a little light on the parameters that are available for querying.

A look at the source for the search method yielded:
`def search(SearchRequest request, Map params) {`

Ah ha! so I have to pass params.

`def res = Vehicle.search("${params.q}", [score:true])`

Works as expected!

[2016-08-31 18:55] #170 closed

[2016-09-02 06:28] rpalcolea commented on #149
Hi @puneetbehl

how can I set the `path.home` using Grails 3? I tried with `grails -Des.path.home=myPath run-app` but didn’t work. I got the classic:

```elasticSearchClient': FactoryBean threw exception on object creation; nested exception is java.lang.IllegalStateException: path.home is not configured```

Any suggestion for production env?

Thanks

[2016-09-02 13:06] rpalcolea commented on #149
Oh never mind, found the way to do it:

[code]

in `build.gradle`

[2016-09-03 07:29] uddhaumesh opened #172 "Conflicting module versions"
## Unable to deploy my application which contains grails-elasticsearch-plugin v0.1.0 and my Grails 2.4.5

[code]

Does Grails 2.4.5 supports elasticsearch v0.1.0.....?

[2016-09-04 14:39] puneetbehl commented on #172
Can you create a sample application replicating this problem?

[2016-09-06 06:01] uddhaumesh commented on #172
I am using GGTS version:3.6.1 and Grails version: 2.4.5

below are two domain classes (i,e Student and Category)

[code]

[code]

In BuildConfig.groovy
[code]

In Config.groovy

[code]

Later I added the below code to Config.groovy

[code]

This application is working fine in GGTS , but when I deploy it in Apache tomcat I am getting Error.

[2016-09-06 16:52] puneetbehl commented on #172
It seems like there are multiple versions of groovy in the classpath. Looks similar to http://stackoverflow.com/questions/31099214/tomcat-conflicting-module-versions-module-groovy-all-is-loaded-in-version-2-3

[2016-09-06 19:13] bruno-lopes commented on #137
Hi @tomsap85, I'm using Grails 2.5.1 and elasticsearch 0.0.4.6
Here I defined my custom analyzer this way:

[code]

And in my domain class:

[code]

After running the application, without exceptions, I did a curl to confirm:

[code]

I hope this helps you.

[2016-09-06 19:30] bruno-lopes opened #174 "Add support to MultiFields"
Hello,

I read the documentation of this plugin, and didn't find a way to define my custom multi fields as defined in https://www.elastic.co/guide/en/elasticsearch/reference/1.4/_multi_fields.html.

I know that is possible to use `field_name multi_field: true`, but it generate a field with the name untouched, which is not analyzed. But I want to do something like this (https://www.elastic.co/guide

[2016-09-16 15:13] rkimaoui opened #175 "Error when using elasticsearch with spring-security-rest"
Hello there,

When i use elasticsearch:1.2.0 with spring-security-rest i get this error on startup:

My configuration:
- Grails 3.2.0.RC1
- elasticsearch:1.2.0
- org.grails.plugins:spring-security-core:3.1.1
- org.grails.plugins:spring-security-rest:2.0.0.M2

[code]

[2016-09-16 15:15] rkimaoui commented on #175
When i just remove spring-security-rest or elasticsearch  it works well.
The error is related to elasticSearchClient.. don't understand..

[2016-09-16 17:58] rkimaoui opened #176 "problem with includeTransients in grails 3.2.0.RC1"
Hello there,

i have indexing errors when includeTransients=true in grails 3.2.0.RC1.
When i set includeTransients=false, it works well.
And It happened only when i upgraded from grails 3.0 to 3.2.

This is the error:
`ERROR grails.plugins.elasticsearch.index.IndexRequestQueue - Failed bulk item: MapperParsingException[object mapping for [message] tried to parse field [creatorId] as object, but go

[2016-09-16 20:38] puneetbehl commented on #157
@yiqingchen you can configure multiple datasource as follows:
[code]

Read more about multiple datasource [here](http://docs.grails.org/latest/guide/conf.html#multipleDatasources)

[2016-09-17 08:04] puneetbehl commented on #176
@rkimaoui Could you please share sample application describing the problem as I am able to run fine with Grails 3.2.0.RC1 and with following example:

_Anagram.groovy_
[code]
_Bootstrap.groovy_
[code]

And, when I run following search it works fine:
[code]

[2016-09-17 10:02] puneetbehl commented on #175
@rkimaoui could you please upload sample application demonstrating the problem.

[2016-09-17 10:26] puneetbehl commented on #175
It seem like there is some dependency problem with `com.google.guava:guava:18.0` in Elasticsearch and `com.google.guava:guava-io:r03` from Spring Security REST.

[2016-09-17 12:17] puneetbehl commented on #175
It's little strange but adding `compile "com.google.guava:guava:19.0"` or ``compile "com.google.guava:guava:18.0"`` explicitly should solve you problem.

Another solution would be to update asset-pipeline-grails as following:
[code]

[2016-09-24 14:49] ltjsjyyy commented on #106
I found something in ClientNodeFactoryBean.groovy:
`def pluginsDirectory = elasticSearchContextHolder.config.path.plugins`
`  if(pluginsDirectory){`
`    nb.settings().put('path.plugins', pluginsDirectory as String)`
`  }`

which means, you can define a folder path of elasticsearch plugins in your config.groovy
then you can copy your elasticsearch plugins into the folder.
for example:
		elasticSea

[2016-09-28 19:48] virtualdogbert opened #177 "Jar Hell"
I keep running into a jar hell error on start-up. I'm trying to just have a bare bones setup for a poc.

I'm running Grails 3.0.11

So in my application.groovy I have:

[code]
And I found I have to add the following to avoid a path.home error:
if I add `-Des.path.home=/ptmp/progs/elasticsearch-2.3.3`

But I end up getting the error below, wch alternates between log4j and xmlpull/xpp3_min.

Any ide

[2016-09-29 11:22] puneetbehl commented on #177
Could you please upload a sample application replicating the problem?

[2016-09-29 17:31] virtualdogbert commented on #177
Ok I created a sample app mostly just copying the build.gradle:
https://github.com/virtualdogbert/brokensearch

Although I get a slightly different jar hell error it complains about:
compile 'javax.websocket:javax.websocket-api:1.1'

and when I comment that out, I get back to it complaining about the logging libraries. However I have seen it also complain about xmlpush and some other xml jar, in m

[2016-09-29 22:39] virtualdogbert commented on #177
After looking back at the documentation there doesn't seem to be a version of the plug-in that's supported for 3.0.x, could this be the source of my problems, and frustration? I got further by trying the steps bellow, but it still doesn't really work.

I changed my build.gradle to have:
`compile ('org.grails.plugins:elasticsearch:1.2.0'){
        exclude module: 'gson'
    }
    compile ("org.elas

[2016-10-01 15:27] virtualdogbert commented on #177
So I did try the plugin with Grails 3.2, and it worked. So the first plan to to upgrade then pursue search.

[2016-10-01 15:27] #177 closed

[2016-10-01 17:07] puneetbehl commented on #177
@virtualdogbert I have sent a [pull request](https://github.com/virtualdogbert/brokensearch/pull/1) which is working fine. Please let me know if that helps.

[2016-10-01 17:08] puneetbehl commented on #176
@rkimaoui any updates?

[2016-10-01 17:08] puneetbehl commented on #175
@rkimaoui any updates on this?

[2016-10-01 17:09] puneetbehl commented on #172
@uddhaumesh any updates on this?

[2016-10-03 14:42] rkimaoui commented on #175
@puneetbehl  i'll test this in my sample application. Thx for your answer.

[2016-10-06 13:58] bioform commented on #149
@puneetbehl , I guess you need to reopen this issue.
this issue is reproducable for "node" client mode. From documentation for elasticsearch-grails-plugin:

The main thing is *"ElasticSearch instance running and available on your network"*, but you suggested to provide path to a local instance(not a network) on elasticsearch

So this issue is critical since "node" client mode is default for produc

[2016-10-09 10:15] yiqingchen commented on #157
thanks

[2016-10-11 17:48] bruno-lopes opened #178 "Objects from the from the subclasses don't appear in the main class search"
Hi,

I have the following classes in my application:

[code]
Since the class User is marked as searchable, I can make queries on it, but none of the objects from the subclasses are listed by Elasticsearch. Is it possible to search the User class, and get results rom the subclasses? How?

Thanks in advance.

[2016-10-17 13:29] virtualdogbert opened #179 "Mapping issue, goes too deep"
I'm trying to use the elastic search plugin, but I having an issue with mapping a reference to another domain. It ends up going deep trying to index domains, that are referenced on the referring domain and ends up with an error saying they are not searchable.  I also found:
  // TODO : add maxDepth in custom mapping (only for "searchable components")

and maxDepth is set to 5, where I would like i

[2016-10-17 15:24] virtualdogbert commented on #179
So maybe maxDepth isn't quite what I want. I  played around with code and it still went deep, but then I found code that checks it commented out in the default marshaller. It would take me some time to really understand what the code is doing.

Also is there an easy way to see what is actually stored in an index?

[2016-10-17 18:28] virtualdogbert commented on #179
Since I have some time, here's some example code to give you and idea of what I have and what I want to do(feel free to correct anything):
[code]
What I want to avoid in this example is parsing Session and all it's dependencies.

[2016-10-18 15:23] virtualdogbert commented on #179
Ok answering my own question use except to exclude everything I don't want including transient services. Only doesn't work for me, because it still tries to include other relations, and transient services.

Setting includeTransients=false didn't work for transient services for some reason.

[2016-10-18 15:23] #179 closed

[2016-10-26 23:09] jamesbeedy opened #180 "Support ES v5"
support elsaticsearch v5

[2016-10-29 14:55] puneetbehl commented on #175
@rkimaoui  are you able to solve this?

[2016-11-01 22:00] jako512 commented on #172
I have the same problem with version 0.0.4.5 and Grails 2.5.5.
Workaround is to exclude `groovy-all` in `BuildConfig.groovy`:
[code]
I think that dependency on `groovy-all` should be excluded directly in plugin.

[2016-11-14 08:10] norricorp opened #181 "Docs pdf - include default values"
Chapter 2 configuration. In 2.1 says "add the following to your build.gradle:
And then has file applicaiton.groovy or Config.groovy.
Also "plugin has a default configuration" but would be useful if those defaults could be highlighted in subsequent values.

[2016-11-22 08:41] hasegetc opened #182 "this plugin does not compatible with grails 3.2.3"
:(

[2016-12-12 13:55] bioform opened #183 "It is impossible to use the plugin with Amazon Elasticsearch service"
Amazon Elasticsearch service supports only REST API, but
elasticsearch-grails-plugin doesn't support it.

Acually it is the feature request.

[2016-12-13 15:59] igordonin opened #184 "Typo in documentation"
There's a small typo in the [docs](http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html#client-mode), regarding application.yml:

[code]
Notice the **"node"** there should actually be **"mode"**.

There are some other typos, but this one made me spend a few hours trying to figure out what was wrong, mostly my fault because I just copied/pasted it.

Cheers, and nice work you guys are

[2016-12-23 15:28] bioform opened #185 "Grails 3.2.2 Highlighs feature doesn't work"
If I use the following example from the documentation
[code]
the  "results.highlight" is array  list  where each element is empty HashMap.
If I will replace 'message' feald name to '_all'  - I will get  the same result - not empty array list with empty HashMap  elements.

[2017-01-03 21:12] atifsaddique211f commented on #175
@puneetbehl Thanks for the solution, it worked for me,
I just added this line in build.gradle file

`compile "com.google.guava:guava:19.0`

[2017-01-04 07:51] yang22zhang opened #186 "Not compatible with grails 3.2.3"
Grails: 3.2.3
Elasticsearch:5.1.1
build.gradle:

[code]
application.yml:

[code]

Here is Exception

[code]

[2017-01-06 22:16] #175 closed

[2017-01-06 22:16] #157 closed

[2017-01-08 03:43] rkimaoui commented on #186
try using es 2.3.z.
See versioning on Readme.

[2017-01-13 01:50] mtgleeson opened #188 "1.0.0.2 ClassNotFound error with FilterBuilder"
I'm in the process of upgrading my Grails app from 2.4.4 to 3.2. I've upgraded the elasticsearch plugin to 1.0.0.2 (my elastic search ver is 1.x).
I'm getting a ClassNotFound exception on org.elasticsearch.index.query.FilterBuilder.
It's referenced in the ElasticSearchService class for 1.0.0.2. I checked the elasticsearch jar, version  2.4.1 is being pulled in which doesn't have the FilterBuilder.

[2017-01-16 21:21] peh commented on #186
This is caused by forcing 5.1.1 as your ES version.
Elasticserach 5.1.1 had a lot of breaking changes in the Java API

[2017-01-17 07:23] mtgleeson opened #190 "IllegalStateException: path.home is not configured"
I'm getting an exception when using Elasticsearch 1.2.0 plugin with grails 3.2.4 and Elasticsearch 2.3.1.
The elasticsearch plugin is configured in mode 'node' and apparently this requires a path.name setting to be set.

I'm not sure why a path.name needs to be set if the mode is 'node' and not 'local' or 'dataNode' which stores data.
I've worked around this by setting a dummy path.name in the JAV

[2017-01-17 19:19] virtualdogbert opened #191 "Dependency issue on deployment to tomcat."
So I'm running into an issue when I try to deploy to tomcat I get the following errors on start up any ideas. The app does work on the embedded tomcat. I validated that it has something to do with the plug-in because if I remove it my application will run on tomcat. I've tried excluding various modules without much luck. The sample app is here:
https://github.com/virtualdogbert/brokensearch

If yo

[2017-01-20 15:03] virtualdogbert commented on #191
I made a little progress pealing back one layer of the onion by adding some excludes:
compile('org.grails.plugins:elasticsearch:1.2.0') {
        exclude module: 'gson'
        exclude module:'bcprov-jdk15on'
        exclude module:'bcprov-jdk14'
    }
    compile 'org.bouncycastle:bcprov-jdk16:1.46'

Now I get another issue:
[code]

[2017-01-21 22:30] puneetbehl commented on #188
Hi @mtgleeson, the latest version is 1.2.0. Please use the same when updating to Grails 3. http://grails.org/plugins.html#plugin/elasticsearch

[2017-01-23 22:37] virtualdogbert commented on #191
Ok I fixed the second issue by adding:

[code]

to my build.gradle

[2017-01-23 22:37] #191 closed

[2017-01-26 17:47] puneetbehl commented on #191
@virtualdogbert cool 👍

[2017-02-02 21:20] puneetbehl commented on #190
@mtgleeson please look into documentation under section "[2.2.1. Using node or dataNode during development](http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html#client-mode)"

[2017-02-04 05:59] mtgleeson commented on #190
I'm getting this problem on all environments incl prod when using 'node' as the client mode.

[2017-02-04 06:04] mtgleeson commented on #188
Hi @puneetbehl, according to the docs, for Elastic Search version 1.6.x and Grails 3.x I should be using version 1.0.0.x of the plugin https://github.com/noamt/elasticsearch-grails-plugin. Maybe the docs need to be updated?
After struggling to get plugin working I've since upgraded to ES 2.3.x and ver 1.2.0 of the plugin and that works fine. Cheers for the reply.

[2017-02-10 17:29] puneetbehl commented on #188
@marcoscarceles good point, let me verify that.

[2017-02-11 18:17] puneetbehl commented on #190
@mtgleeson I am sorry for the confusion but I was checking whether you have configured `es.path.home` in VM_OPTIONS, which I am referring in documentation under section 2.2.1

[2017-02-11 23:57] mtgleeson commented on #190
Thanks @puneetbehl

[2017-02-11 23:57] #190 closed

[2017-02-15 00:34] rkimaoui commented on #180
+1

[2017-02-16 09:55] ltjsjyyy opened #192 "discovery.zen.ping.unicast.hosts not work!"
Hi,

Since two instances of my application located in the two hosts. I want to make a cluster with each other. I tried to add one line `settings.put("network", "_non_loopback:ipv4_")` in ClientNodeFacotryBean.groovy, so that elasticsearch can host on the internal network. But they still cannot find each other. Then i tried to set "discovery.zen.ping.unicast.hosts", but when i set value for it, err

[2017-02-17 08:38] ltjsjyyy commented on #192
Found the solution.
I can set the elasticsearch.yml from config.groovy or config.yml
bootstrap.config.file = 'elasticsearch.yml'

then i can put the settings in elasticsearch.yml file in my code.

[2017-02-22 02:34] amuhammed commented on #56
Wondering if this was ever implemented?

[2017-02-24 12:17] #192 closed

[2017-03-09 09:22] etibarhasanov opened #193 "Lower Case, Upper Case"
| Grails Version: 3.1.10
| Groovy Version: 2.4.7
| JVM Version: 1.8.0_121
org.grails.plugins:elasticsearch:1.2.0

The column I was searching with elastic search is called status and it is mapped to enum in groovy. And in database the column datas are capitalized.
For searching I used
must {
                    term("status": "NEW")
     }
Apart from string "NEW' I used OStatus.NEW,  OStatus.NEW.to

[2017-04-09 15:08] neilabdev opened #194 "ElasticSearch 1.2.1 Not Found, is documentation wrong?"
While experiencing issues with using Elastic Search 1.2.0 in integration test in grails 3.2.6-8, such as not being unable to refresh the database each test inside the spec using deleteIndex() or unindex(), nor being able to index without explicit indexing of the item.

[code]

I thought upgrading to 1.2.1 which is said to be current in the documentation at:

http://noamt.github.io/elasticsearch-gr

[2017-04-25 12:28] hisou opened #195 "cannot connect to mongodb with mongodb plugin of grails"
I am using both elasticsearch plugins and mongodb plugins in my grails project.
`compile "org.grails.plugins:elasticsearch:1.0.0"`
`compile 'org.grails.plugins:mongodb:6.1.1'`

The application.yml file is like:
`mongodb:`
`    host: "localhost"`
`    port: 27017`
`    databaseName: "search"`

`elasticSearch:`
`    client:`
`        mode: local`
   ` disableAutoIndex: false`
`    datastoreImpl: mon

[2017-04-29 10:02] HardikModha commented on #195
What is the status of elastic search index? By default elastic search binds port 9300 when running locally. So, When the grails server is running you can hit `http://localhost:9300/_cat/indices` to see whether the index was actually created or not.

[2017-05-05 11:21] #195 closed

[2017-05-16 15:11] gus061982 commented on #180
+1

[2017-05-31 18:33] goeh opened #196 "A fresh install needs elasticSearch.datastoreImpl configured but it's easy to miss in the documentation"
Installing the plugin in a Grails application and running it gives me:

[code]

This is documented in the github repo README at https://github.com/noamt/elasticsearch-grails-plugin but if you just read the official user guide http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html it's not stated early in the documentation that you need to configure this. It's documented under the secti

[2017-05-31 18:41] puneetbehl commented on #194
Please test once again now, it should be fixed.

[2017-05-31 18:58] puneetbehl commented on #188
@mtgleeson I will update the documentation but pull requests are most welcome :-)

[2017-05-31 19:41] #184 closed

[2017-05-31 19:43] puneetbehl commented on #182
Could you please provide more description what is not working. Also, please have a look at https://github.com/noamt/elasticsearch-grails-plugin/issues/186

[2017-05-31 20:18] neilabdev commented on #194
shablam! 1.2.1. is downloading just fine. Thanks so much for your efforts :)

As a side note should others face the testing issues, after looking at the tests in elasticsearch, I did notice you were manually indexing as I was, which is fine for testing. Just wasn't sure if that was normal not execute the callbacks. Thus 1.2.0 worked for me also.

[2017-05-31 20:18] #194 closed

[2017-06-08 12:55] bruno-lopes opened #198 "ElasticSearch fails in Grails 3.3.0.M2"
Hi people.

I'm testing Grails 3.3.0.M2. In this version, ElasticSearch 1.2.1 fails with this problem:

[code]

I'm using the following configuration of ElasticSearch:
[code]

I think this may be related to this (https://github.com/longwa/build-test-data/issues/74) and this (https://github.com/longwa/build-test-data/issues/76). Anyway, ElasticSearch uses method doWithSpring to initialize. Perhaps

[2017-06-09 19:47] bruno-lopes commented on #198
I'm using a multi-project approach. I'll try to reproduce in a simple example. I'm also using some plugins. I don't know if they are interfering.

[2017-06-11 21:20] puneetbehl commented on #198
@bruno-lopes please share the simple project replicating the problem

[2017-06-12 13:54] bruno-lopes commented on #198
@puneetbehl, thanks for your response. I create this simple multi-project to demonstrate the error: https://github.com/vaidegrails/ElasticSearchError/

If you need more information, please let me know.

I'm new to multi-projects in Grails 3, so, it can be my mistake. Thanks in advance.

[2017-06-14 20:48] bruno-lopes commented on #198
@puneetbehl, could you please inspect this pr (https://github.com/noamt/elasticsearch-grails-plugin/pull/199)?
I know there must be a better way to implement, but I'm migrating our system from Grails 2 to 3 in a "fast and furious" way. :grin:

[2017-07-10 06:58] dreampursuer commented on #180
+1

[2017-07-14 13:13] chripalombella opened #200 "Index Type with composite key"
Hi,
i have to index a type with a composite key:

`
Site site
User user

static constraints = {
}

static belongsTo = [Site, User]

static mapping = {
        id composite: ["user", "site"]
 }
static searchable = {
        site component : true
        user component : true
 }`

But when i save, i got this error:

`ERROR grails.plugins.elasticsearch.index.IndexRequestQueue - Error Indexing class -

[2017-07-17 09:26] crosburg commented on #180
+1

[2017-07-20 19:37] ikaliZpet commented on #180
+1, with 5.5 maturing, this becomes more relevant.

[2017-08-02 17:45] betoesquivel commented on #180
+1

[2017-08-02 19:41] erichmx commented on #180
I just sent a PR with support of ES 5.4.1

https://github.com/noamt/elasticsearch-grails-plugin/pull/203

[2017-08-13 12:57] tobisinghania commented on #198
Any updates on this?

[2017-08-18 22:30] WAGuerra commented on #198
This problem occurs because grails see [grails domain class api is deprecated](http://docs.grails.org/latest/guide/upgrading.html#_grails_domain_class_api_deprecated).
The exception you getting says "cannot be accessed before GORM has initialized" which is exactly what is telling on Grails 3.3.x manual.
The elasticsearch plugin must be updated to work on Grails 3.3.x.
You should use grails 3.2.x i

[2017-09-05 10:07] Janitza-AlAt opened #205 "Dosent start up in Grails 3.2.8"
ERROR org.springframework.beans.factory.support.DefaultListableBeanFactory - Destroy method on bean with name 'org.springframework.boot.autoconfigure.internalCachingMetadataReaderFactory' threw an exception
Disconnected from the target VM, address: '127.0.0.1:35681', transport: 'socket'
java.lang.IllegalStateException: ApplicationEventMulticaster not initialized - call 'refresh' before multicastin

[2017-09-05 10:47] crosburg commented on #205
When defining the following in your build.gradle (root level), you will get a step further :)

[code]

In my case I will fail with
[code]

[2017-09-05 16:44] neilabdev commented on #205
+1

[code]
Using:

Grails 3.2.9
Java 1.8
Mac sierra 10.12.6

[2017-09-20 20:07] verglor commented on #205
I have the same problem in Grails 3.3.0:

`ClassNotFoundException: org.elasticsearch.mapper.attachments.MapperAttachmentsPlugin`

[2017-09-20 23:15] verglor commented on #205
By adding the following dependency it starts without exception, but still seems to be not working...
`compile 'org.elasticsearch.plugin:mapper-attachments:2.3.3'`

[2017-09-26 17:52] johnholiver opened #207 "DoBulkRequest in descending id order"
Dear maintainers,
Today I was discussing with my team a feature that I feel it could be very nice for you to incorporate. We added this to our JIRA board to extend our current version of the elasticsearch plugin locally to add this.

The feature is: being able to define if the bulk index queue should be filled with instances considering an ascending (default) or descending id order.

Why can this

[2017-09-26 19:01] verglor commented on #198
@puneetbehl No version of this plugin works in Grails 3.3 so I think this is a major issue that should have the highest possible priority.

[2017-09-26 20:57] puneetbehl commented on #198
@verglor yes I totally agree with you. I am working on it. Just little slow as I need to work on my main project during the day and in evening I work on open source work. But, I will get 3.3 compatible version real soon.

[2017-09-27 16:08] deepakchaudhari0890 opened #208 "elasticSearch.index.name does not seem to be working"
Hello,
First of all, thanks to you guys for developing this very useful plugin. It has been really helpful for me with indexing huge fairly large documents and the ease of integrating it with our app. Currently, we are planning to use a different index name. I am trying to use elasticSearch.index.name configuration in my application.yml, but the plugin is not able to detect this property. I am not

[2017-10-02 18:31] itsmeccr opened #209 "PooledConnection has already been closed exception while updating"
Hi,
I am using this plugin for mirroring database to elasticsearch and it was working well for elasticsearch 1.6 and grails 2.5 with older plugin version 0.0.4.6.

But now I upgraded to es 2.3.3, grails 3.2.3 and this plugin 1.2.0 but facing exception below occasionally. Here is the stacktrace:
[code]
I played around datasource config with no success.
Here is an example:
[code]
This issue is preve

[2017-10-08 18:55] puneetbehl commented on #208
@deepakchaudhari0890 Here is the demo application where I am able to configure index https://github.com/puneetbehl/esdemo_3.2.4

[2017-11-01 03:42] jackiebai opened #210 "Error Creating bean with name 'indexRequestQueue'"
grailsVersion = 3.1.9
elasticsearchVersion = 5.4.1
javaVersion = 1.8.0_91
osxVersion = 10.11.6

Here's a demo app to reproduce the issue:
[https://github.com/jackiebai/testEs](https://github.com/jackiebai/testEs)

Error log:

[code]

[2017-11-11 13:49] tobisinghania opened #212 "Setting index name fails in 1.4.1 with grails 3.2.x"
Using Grails 3.2.3 with the plugin version 1.4.1 together with elastic search 5.4.1 application startup fails with the following error, if an index name is set:

    ...
    Caused by: java.lang.IllegalArgumentException: unknown setting [index.name] please check that any required plugins are installed, or check the breaking changes documentation for removed settings
    	at org.elasticsearch.commo

[2017-11-13 08:49] shsongtao1988 opened #213 "bulk index in large number of data will stop indexing at some point"
Using Grails 3.2.9 Elasticsearch 5.4.1 and plugin 1.4.1 ,while setting bulkIndexOnStartup : true and maxBulkRequest : 1000 , my data can be indexed into es ,but when the total data number is up to 420000 lines, the index will only indexes about 60000 lines, and then the cpu is up to 100% and no more data indexed. After some time , the program will hit a OOM error :  Java heap space .  I start the

[2017-11-14 07:55] shsongtao1988 commented on #213
ok, when i reduce the maxBulkRequest i can index more data , but i free the speed is very slow , any one can help me with the problem ?!

[2017-11-14 08:02] shsongtao1988 commented on #213
I tried to reduce the maxBulkRequest  number to 10, but when I indexed about 70000 lines , the same problem comes,  will the problem solved after I set the maxBulkRequest  limit to 1 ? That must be a long time to index all the 420000 lines data .

[2017-11-14 08:04] shsongtao1988 commented on #213
I think the index service some where maybe exists Memory Leak . But I don't know how to solve it .

[2017-11-24 09:54] fabiangebert commented on #183
+1

[2017-11-25 08:41] kurb70 commented on #205
Unfortunatly I'm facing the same problem with Grails 3.2.11 on macOS

**build.gradle** contains
[code]

and **application.yml** with

[code]

BTW Update to org.grails.plugins:elasticsearch:1.4.1 (as metioned in [Elasticsearch Plugin - Reference Documentation](http://noamt.github.io/elasticsearch-grails-plugin/docs/index.html) do not solve the problem. Gives me a lot of other challenges.

[2017-12-14 18:24] kdpeders commented on #213
Could this be because Grails 3 used Controllers/Services scoped as Singleton?  ElasticSearchService has property indexRequestQueue that may not ever get cleared then and could be the source of a memory leak.

[2017-12-15 01:59] shsongtao1988 commented on #213
well , I tried this ,using grails.controllers.defaultScope = session ,but still OOM  ,now I tried to bulk data through python ,using pymongo and elasticsearch. this need to do additional work .

[2017-12-15 12:58] KoloritnijClap commented on #198
@puneetbehl any updates on that? Maybe you can provide at least roughly estimate, if it possible..

[2017-12-15 17:33] jharlan-nextcentury commented on #198
@KoloritnijClap The 2.4.0.RC1 branch has 3.3 support. Still needs testing, but I'll keep an eye on the issue tracker here if anything comes up regarding the new branch.

[2017-12-15 18:19] KoloritnijClap commented on #198
@jharlan-nextcentury I've tried it today and has class not found exception

[2017-12-16 02:08] verglor commented on #198
Tried with [com.github.noamt:elasticsearch-grails-plugin:2.4.0.RC1-SNAPSHOT](https://jitpack.io/com/github/noamt/elasticsearch-grails-plugin/2.4.0.RC1-v1.2.1-g3c6e036-36/build.log) in Grails 3.3.0 and got `ClassNotFoundException: org.elasticsearch.common.xcontent.NamedXContentRegistry` ([full stacktrace](https://pastebin.com/aL9peNhT))

[2017-12-30 20:34] dustindclark commented on #198
I have this working in Grails 3.3.2/GORM 6.1.8 with the following build.gradle config:

[code]

[code]

[2018-01-04 03:59] mcam11 opened #214 "Intermittent indexing issue with ElasticSearch 2.4.0.RC1 and Grails 3.3.2"
I am new to ElasticSearch, upgrading a Grails 2.4.4 application that used the Searchable Plugin to Grails 3.3.2 using the ElasticSearch plugin.

I have four searchable domains. Often, application startup will fail with the following error on one of my domains. In this case, it is failing on my User domain, saying it is not a searchable domain class. Sometimes, the application will start without er

[2018-01-08 16:34] dustindclark commented on #214
I had the same issue and have a fix.  Will submit a PR shortly.

[2018-01-12 14:44] verglor commented on #212
I have the same problem with version 2.4.0.RC1 in Grails 3.3.2

[2018-01-14 10:21] puneetbehl commented on #212
From Elasticsearch 5.0 on only selected settings like for instance `index.codec` can be set on the node level. Please see more information [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/breaking_50_settings_changes.html#_index_level_settings)

Please let me know if this is not the case.

[2018-01-14 10:23] puneetbehl commented on #208
#212 These two are similar

[2018-01-14 19:10] puneetbehl commented on #214
@dustindclark @mcam11 could you please create a sample application replicating the issue. I noticed the changes from #215. But, I would like to see the problem as well.

Here is the [Sample Application](https://github.com/puneetbehl/elastic-search-demo/tree/v3.3.2) using Grails v3.3.2 and ES plugin v2.4.0.RC1. Please feel free to make the change in the branch named Issue#215.

[2018-01-14 19:41] puneetbehl commented on #213
@shsongtao1988 Please share the sample application or the heap dump when you see OOM error. Also share the output of following command:
[code]

[2018-01-15 08:58] puneetbehl commented on #209
@itsmeccr could you please create a sample application replicating the problem? that would help me debug and fix the problem.

[2018-01-15 08:59] puneetbehl commented on #209
Also here is the [sample application](https://github.com/puneetbehl/elastic-search-demo) which you could use as a starting point.

[2018-01-15 12:25] verglor commented on #212
Hi @puneetbehl, `index.name` configuration should not be passed to elasticsearch. It is just alternative name of index (instead of package name) and should be used by plugin internally when creating index.
Pease see [PR#56](https://github.com/mstein/elasticsearch-grails-plugin/pull/56) - especially [getIndexName()](https://github.com/mstein/elasticsearch-grails-plugin/pull/56/commits/0bfe32f362488

[2018-01-16 15:37] puneetbehl commented on #212
@verglor  I am sorry for the confusion earlier but the issue is related to 'index.name` passed in `indexSetting` to `elasticSearchAdminService.createIndex(indexName, indexSettings, mappings)` method.

I think index default settings should be passed as `index.settings.numberOfReplicas` in the config rather than `index.numberOfReplicas` so that there is no conflict between `indexName` and `settings`

[2018-01-16 15:42] puneetbehl commented on #212
I will try to release a new version soon with the fix.

[2018-01-17 08:19] itsmeccr commented on #209
The issue was random so I am not sure if I can replicate it.
But I found a workaround to bypass the issue.
I had to manually set `object.index()` although auto indexing was on.
Hope it helps.

[2018-01-17 11:09] puneetbehl commented on #209
That's very strange. I tried to replicate this issue as well but unable to do so. And it's hard to fix this unless I am able to replicate it. So, I  am closing this issue for now.

Please note that you can always reopen the issue. I would love to help when I am able to debug.

[2018-01-17 11:09] #209 closed

[2018-01-17 11:10] #208 closed

[2018-01-17 11:27] #180 closed

[2018-01-17 11:31] puneetbehl commented on #152
@davydotcom  I am going to add this to new FAQ section in the documentation. And then close the issue. Please feel free to reach out to me in case of any other issue.

[2018-01-17 12:02] #152 closed

[2018-01-17 20:21] verglor commented on #212
I strongly vote for separating default index settings (passed directly to elasticsearch) to separate config key (e.g. `elasticSearch.index.settings` as suggested by @puneetbehl) to prevent confusion.

[2018-01-22 03:59] puneetbehl commented on #212
Just an update that this has been implemented in branch `v2.4.0.RC2` and soon be released and meanwhile, I am finding some challenges with updating specs in class `SearchableClassMappingSpec`

[2018-01-22 08:56] #214 closed

[2018-01-22 08:57] #212 closed

[2018-01-22 12:23] #196 closed

[2018-01-22 12:56] #188 closed

[2018-01-22 13:04] #181 closed

[2018-01-22 13:09] puneetbehl commented on #176
Please feel free to re-open if the issue still persists with `v2.4.0`

[2018-01-22 13:09] #176 closed

[2018-01-22 13:18] puneetbehl commented on #172
I have created a new section called faqs in the end of documentation.

[2018-01-22 13:18] #172 closed

[2018-01-22 13:37] #135 closed

[2018-01-23 10:00] puneetbehl commented on #186
Support for ES 5.x has been added from v1.4.1 onwards. The latest version working with Grails v3.3.2 is ES plugin v2.4.0

[2018-01-23 10:00] #186 closed

[2018-02-02 18:29] mcam11 commented on #214
Sorry if I am misunderstanding the status of this issue. It's closed, so does this mean that the issue has been fixed and fix will be available when 2.4.0.RC2 is released? If so, is there an ETA on this release? Thank you!!

[2018-02-02 18:43] puneetbehl commented on #214
Yes, version 2.4.0 has been released. http://plugins.grails.org/plugin/puneetbehl/elasticsearch

[2018-02-02 18:49] #126 closed

[2018-02-02 18:51] #128 closed

[2018-02-02 18:55] puneetbehl commented on #124
Although this is a very old issue, I want to make sure that you have a clear path to using Elasticsearch plugin using latest [documentation](http://noamt.github.io/elasticsearch-grails-plugin/snapshot/index.html) as a reference.

[2018-02-02 18:55] #124 closed

[2018-02-02 20:32] mcam11 opened #216 "Indexing issue with ElasticSearch 2.4.0 and Grails 3.3.2"
I am new to ElasticSearch (was using Searchable plugin before with Grails 2.4.4) and am getting the following error when starting up my Grails 3.3.2 application. Note: previously I submitted issue #214 which was fixed, but am now getting a different error.

    2018-02-02 12:47:14.963 ERROR --- [           main] g.p.e.index.IndexRequestQueue            : Error
    Indexing class com.xxx.server.Com

[2018-02-04 10:42] puneetbehl commented on #216
Please upload a sample application replicating the problem. Also, look into the [Demo App](https://github.com/puneetbehl/elastic-search-demo). I think this has to do with the mapper-attachment plugin. Please try to build the application after removing that dependency.

[2018-02-04 11:04] puneetbehl commented on #210
Please add `log4j` dependency to your build.gradle

[code]

[2018-02-04 14:09] puneetbehl commented on #213
@shsongtao1988  Any updates on this?

[2018-02-04 14:09] #213 closed

[2018-02-05 23:50] mcam11 commented on #216
I was able to reproduce with the following two domains. If I remove the 3 mentions of 'company' from within the Employee domain, then all works fine.

    class Company {
        static searchable = {
	        only = ['companyName', 'state', 'country']
        }

	    static hasMany = [employees: Employee]

        String companyName
        String address
        String address2
	    String city

[2018-02-06 00:07] mcam11 commented on #216
Also meant to say that I can search one domain or the other, but not both. So if I comment out "static searchable ..." on Company, it works for Employee, and vice versa.

[2018-02-06 12:10] #164 closed

[2018-02-06 20:34] #29 closed

[2018-02-06 23:19] mcam11 commented on #216
I think the issue is that my Employee domain contains an instance of my Company domain and that instance can be null.

If I get rid of the following constraint in my Employee domain, it works; I am able to successfully launch the application ten out of ten times with no indexing issues of my data.

    static constraints = {
        ...
	    company(nullable: true)
    }

Also, when it doesn't wor

[2018-02-09 11:08] sdelamo opened #217 "Support Elastic Search 5.1.6"
I have tried to override SpringBoot's elastic search version with 5.6.7

ext['elasticsearch.version'] = '5.6.7'

It seems some classes are no longer available.

[code]

[2018-02-09 11:13] sdelamo opened #218 "FEATURE: elasticSearchService.search return object instead of Map"
It would be nice if `elasticSearchService.search` return an object instead of a Map.

Something like:

[code]

With types for the previous properties instead of def.

[2018-02-12 08:45] puneetbehl commented on #31
Following is the latest version of Documentation:
http://guides.grails.org/grails-elasticsearch/guide/index.html

In addition, there is a separate [Elasticsearch Grails Guide](http://guides.grails.org/grails-elasticsearch/guide/index.html) to start quickly with ES.

[2018-02-12 08:45] #31 closed

[2018-02-12 08:54] #37 closed

[2018-02-12 09:00] #41 closed

[2018-02-12 09:01] #52 closed

[2018-02-15 15:55] puneetbehl commented on #216
From your latest comment, it seems like the issue is not with Elasticsearch plugin.

Also, you can follow [Grails Guide](http://guides.grails.org/grails-elasticsearch/guide/index.html) as a starting point for your project.

To answer your questions "I'm not sure how to upload a sample application."
You can create a sample application with minimum code, demonstrating the problem then push it to a n

[2018-03-09 14:07] WAGuerra commented on #190
I am having same exception on grails 3.3.2. I need to make a fully executable archive with assemble task.
So my config has:
[code]

As I was getting the exception I followed the [Spring Boot Application docs](https://docs.spring.io/spring-boot/docs/current/reference/html/deployment-install.html#deployment-script-customization-conf-file)
and created a `.conf` file with:
[code]
on the same dir of my

[2018-03-14 09:27] puneetbehl commented on #190
@WAGuerra I am sure there must be some configuration issue as I have successfully tested this behavior in the past. I am the Greach conference this week so I might not be able to look into this right now. I will try to look into this next week. Meanwhile, if you find anything please let me know.

[2018-03-14 14:53] jharlan-nextcentury commented on #216
I think I ran across this same issue, had to do with Hibernate proxies not being unwrapped in `IndexRequestQueue` and `JSONDomainFactory`.

I'll try to submit a pull request with the fix as soon as I can.

[2018-03-25 06:33] kevintanhongann commented on #183
https://www.elastic.co/cloud/as-a-service

What about when we use this?

[2018-03-25 06:40] kevintanhongann commented on #183
Or just host your Elasticsearch instance on EC2 then. That would solve the problem. I believe for AWS specific integrations, it should be handled by the AWS specific Grails plugin development.

[2018-03-25 14:56] kevintanhongann opened #221 "How do you search collections in a domain class?"
`
def filter = {
            nested {
                path('permissions')
                query {
                    bool {
                        must {
                            term("permissions.authority": 'Admin')
                        }
                    }
                }
            }
        }
        def results = elasticSearchService.search(keyword, filter,[indices: Company, ty

[2018-03-25 16:08] kevintanhongann opened #222 "Feature request: The ability to annotate a collection to be stored as JSON array"
Say if I have a domain class that has a hasMany relationship to another domain class, this means that it's a collection.

In normal cases, we use

`static searchable = {
        collection component: 'inner'
}`

But then again, it would be very nice to just annotate the collection so that it can be transformed into JSON array upon being indexed into ES.

This is so that it's easily searchable usin

[2018-03-30 07:49] forestwanglin opened #223 "When will support Grails 3.3.3 + Elasticsearch 1.6"
Thanks in advance.

[2018-04-01 12:46] puneetbehl commented on #223
I would recommend updating Elasticsearch. We currently support Grails 3 with Elasticsearch 5.4.3 and will work on supporting latest version of Elasticsearch.

[2018-04-01 18:40] #218 closed

[2018-04-02 09:47] forestwanglin commented on #223
thx, i will try to update es.

| |
Forest
邮箱：forest_wanglin@163.com
|

签名由 网易邮箱大师 定制

On 04/01/2018 20:46, Puneet Behl wrote:

I would recommend updating Elasticsearch. We currently support Grails 3 with Elasticsearch 5.4.3 and will work on supporting latest version of Elasticsearch.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute

[2018-04-21 09:57] daptordarattler commented on #124
Yeah, i resolved this by using the property references in the documentation. but it would have been nice to have had an update 3 years ago when i started having the issue. Thanks

[2018-04-22 20:47] #223 closed

[2018-04-22 20:50] puneetbehl commented on #124
@daptordarattler Thanks for the response. I understand your concern.

[2018-05-04 08:28] puneetbehl commented on #210
It seems related to puneetbehl/elasticsearch-grails-plugin#2

[2018-05-04 08:28] #210 closed

[2018-10-30 19:18] alanlit commented on #216
I was having exactly the same issue (Grails 3.3.2, ES Plugin 2.4.1 and Hibernate) and this fix resolved it.

[2019-05-14 12:27] #198 closed

[2019-05-16 11:09] #216 closed